In [102]:
# ====================================================
#                       패키지
# ====================================================
# -------- data
import pandas as pd
import numpy as np

import sqlalchemy as sa

# -------- str
import re
# -------- date
from datetime import datetime, date
# -------- float
import math

# -------- craw
from bs4 import BeautifulSoup # 클래스라 생성자 만들어야 함
import requests

# -------- flask
from flask import Flask, make_response, jsonify, request, render_template
from flask_cors import CORS, cross_origin
import json

# -------- API
import yfinance


# --------
# ====================================================
#                      기본 설정
# ====================================================

# sql 이름과 비밀번호 수정 필요
engine = sa.create_engine('oracle://ai:1111@localhost:1521/XE')
conn = engine.connect()
conn.close() # TODO 사용 후 close 해주기
# ----------------------------------------------------

# ====================================================
#                       함  수
# ====================================================

"""
# 변수 설명
# 크롤링 데이터 : nm(회사명), cd(네이버에서 사용하는 회사 코드)
# 상장 기업 리스트 : corp_name(회사명), stock_code(종목코드), industry(업종), main_product(주요제품), listed_date(상장일), settle_mont(	결산월), pres(대표자명), hpage(홈페이지), region(지역)
# 야후 파이낸스 : yh_code
"""

#                   ==============
#                      업종 분류
#                   ==============
# -------- 동일 업종 기업 출력
# TODO(미완성) 동일 업종 선택
def select_same_industry(corp_name):
    indus=com_df[com_df['nm']==corp_name]['industry'].values[0] # TODO(df 확인)

    # print(com_df.groupby(by='industry')['nm'].nunique().max()) # 동종업계 최대 151개 -> 151개 재무제표 크롤링?

    list_com=com_df[com_df['industry']==indus]['corp_name'].values.tolist()
    return list_com



#  -------- 네이버증권 연관기업 코드(hjh)
def relate_code_crawl(co):
    #연관 종목코드 있는 페이지 불러오기
    url='https://finance.naver.com/item/main.naver?code='+str(co)
    page=pd.read_html(url,encoding='CP949')
    #연관 종목명과 종목코드 뽑아내기(code_list[0]은 '종목명'이어서 제외)
    code_list=page[4].columns.tolist()
    code_list=code_list[1:]
    #종목코드 리스트 반환
    codes=[]
    for word in (code_list):
        codes.append(word[-6:])
    #print(codes)
    return codes

#relate_code_crawl('000660')



#                   ==============
#                  기업 이름 코드 변환
#                   ==============

# -------- 네이버 재무제표 크롤링 용 gicode로 변환
def nm_to_bs_gicode(corp_name):
    gi=com_df[com_df['nm']==corp_name]['cd']
    gi=gi.values[0]
    return gi



def stc_code_to_bs_gicode(stock_code):
    gi = com_df[com_df['stock_code'] == stock_code]['cd']
    gi = gi.values[0]
    return gi



def yh_code_to_bs_gicode(yh_code):
    gi = com_df[com_df['yh_code'] == yhcode]['cd']
    gi = gi.values[0]
    return gi



# -------- 네이버 금융 크롤링 용 gicode로 변환
def nm_to_fn_gicode(corp_name):
    gi=com_df[com_df['nm']==corp_name]['stock_code']
    gi=gi.values[0]
    return gi



def yh_code_to_fn_gicode(yh_code):
    gi=com_df[com_df['yh_code']==yh_code]['stock_code']
    gi=gi.values[0]
    return gi



# -------- 코드를 기업이름으로 변환
def stc_code_to_nm(stock_code):
    gi = com_df[com_df['stock_code'] == stock_code]['nm']
    gi = gi.values[0]
    return gi



def yh_code_to_nm(yh_code):
    gi = com_df[com_df['yh_code'] == yh_code]['nm']
    gi = gi.values[0]
    return gi



#                   ==============
#                     데이터 수집
#                   ==============


# -------- Balance Sheets API call
# def bs_api(corp_name=None, yh_code=None, stock_code=None):
#     print('haha')




# -------- Balance Sheets Crawling(재무제표 크롤링)
def bs_craw(yh_code=None, corp_name=None, stock_code=None, kind=0): # ------- 검색과 연동해서 입력 변수 설정
    """
    # kind
        : 0 (연간 포괄손익계산서),  1 (분기별 포괄손익계산서)
          2 (연간 재무상태표),     3 (분기별 재무상태표)
          4 (연간 현금흐름표),     5 (분기별 현금프름표)
    """

    # ------- 검색과 연동해서 입력되는 변수 따라 gicode(네이버에서 분류하는 기업 코드)로 변환
    gcode=0
    if yh_code!=None:
        gcode=yh_code_to_bs_gicode(yh_code)
    elif corp_name!=None:
        gcode=nm_to_bs_gicode(corp_name)
    elif stock_code!=None:
        gcode=stc_code_to_bs_gicode(stock_code)

    url = f"http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?NewMenuID=103&gicode={gcode}"
    # headers = {'User-Agent': 'Mozilla'}
    #
    # res = requests.get(url, headers=headers)
    # soup = BeautifulSoup(res.text, "html.parser")

    table_list = pd.read_html(url, encoding='UTF-8')
    new_table_list = []
    # print(len(table_list))
    # print(table_list[0].head())

    # 항목에서 불필요한 부분 제거('계산에 참여한 계정 펼치기')
    for tbl in table_list:
        for i, idx in enumerate(tbl.iloc[:,0]):
            m = idx.replace('계산에 참여한 계정 펼치기','')
            tbl.iloc[i, 0] = m
        new_table_list.append(tbl)

    return new_table_list[kind]


# ------- 네이버 금융
def fn_craw(yh_code=None, corp_name=None, stock_code=None, kind=0):
    """
       # kind
           : 0 (전일&당일 상한가, 하한가, 거래량 등) #TODO 가공 필요
             1 (증권사 별 매도 매수 정보) #TODO 가공 필요(컬럼이름)
             2 (외국인, 기관 거래 정보) #TODO 가공 필요
             3 (기업실적분석(연도별 분기별 주요재무 정보)) #TODO 가공 필요?
             4 (동일업종비교) #TODO 가공 필요?
             5 (시가총액, 주식수, 액면가 정보) #TODO 가공 필요
             6 (외국인 주식 한도, 보유 정보)
             7 (목표주가 정보) #TODO 가공 필요
             8 (PER, PBR 배당수익률 정보) (주가 따라 변동) #TODO 가공 필요
             9 (동일업종 PER, 등락률 정보) #TODO 가공 필요
             10 (호가 10단계)
             11 (인기 검색 종목: 코스피) #TODO 가공 필요
             12 (인기 검색 종목: 코스닥) #TODO 가공 필요
       """

    gcode = 0
    if yh_code!=None:
        gcode=yh_code_to_fn_gicode(yh_code)
    elif corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
    elif stock_code != None:
        gcode = str(stock_code)

    url = f"https://finance.naver.com/item/main.naver?code={gcode}"
    table_list = pd.read_html(url, encoding='euc-kr')

    return table_list[kind]






#                   ==============
#                      지표 선정
#                   ==============

# -------- 지표 선정
def idv_radar_data(yh_code=None, corp_name=None, stock_code=None):
    """
    # <지표 설명>
    # 1. 배당 분석                      -> 배당성향(배당 커버리지의 역수.)
    # 2. 유동성 분석(단기채무지급능력)    -> 당좌비율(당좌자산 / 유동부채)
    # 3. 재무건전성 분석(레버리지 비율)   -> 부채비율(총부채 / 자기자본)의 역수
    # 4. 수익성분석                      -> 매출수익성(당기순이익/매출액))
    # 5. 성장성분석                      -> 순이익성장률
    """

    if yh_code != None:
        gcode = yh_code_to_fn_gicode(yh_code)
        nm = yh_code_to_nm(yh_code)
    elif corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
        nm = corp_name
    elif stock_code != None:
        gcode = stock_code
        nm = stc_code_to_nm(stock_code)

    sil_df = fn_craw(stock_code=gcode, kind=3)

    if (sil_df.iloc[0:8, 3].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass
    if (sil_df.iloc[0:8, 9].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass

    else:
        # 0. 재무정보는 최신 분기 실공시 기준
        # 0. 단, 배당은 1년에 한 번 이루어지기 때문에 최신 년도 공시 기준임
        sil_df_y = sil_df['최근 연간 실적'].iloc[:, 2]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
        sil_df_q = sil_df['최근 분기 실적'].iloc[:, 4]

        sil_df_y = sil_df_y.fillna(0)
        sil_df_q = sil_df_q.fillna(0)

        if sil_df_y.dtype == 'O':
            sil_df_y[(sil_df_y.str.len() == 1) & (sil_df_y.values == '-')] = 0
            sil_df_y = sil_df_y.astype('float')

        if sil_df_q.dtype == 'O':
            sil_df_q[(sil_df_q.str.len() == 1) & (sil_df_q.values == '-')] = 0
            sil_df_q = sil_df_q.astype('float')
            

        # 1. 배당성향(bd_tend)
        bd_tend = sil_df_y[15]  # 실제 배당 성향

        # 2. 유동성 분석 - 당좌비율(당좌자산/유동부채)
        #                       당좌자산 = (유동자산 - 재고자산)
        dj_rate = sil_df_q[7]  # 당좌비율

        # 3. 재무건전성 분석 - 부채비율(총부채/자기자본)의 역수
        bch_rate = sil_df_q[6] / 100  # 부채비율
        bch_rate = round((1 / bch_rate) * 100, 2)

        # 4. 수익성 분석 - 매출수익성(당기순이익/매출액) # TODO 매출액 0인 애들은?

        dg_bene = sil_df_q[2]
        mch = sil_df_q[0]

        suyk = round((dg_bene / mch) * 100, 2)

        # 5. 성장성 분석 - 순이익성장률(지속성장 가능률)
        # (1-배당성향)*자기자본순이익률(ROE)
        #    유보율

        roe = sil_df_y[5] / 100
        ubo = (100 - bd_tend) / 100
        grth = round(roe * ubo * 100, 2)

        data_list = [bd_tend, dj_rate, bch_rate, suyk, grth]
        data_dict = {nm: data_list}

        return(data_dict)


# -------- 관련 기업 지표 선정
def relate_radar_data(yh_code=None, corp_name=None, stock_code=None):
    label_list=['배당성향', '유동성', '건전성', '수익성', '성장성']
    dict_list = []

    # 주식 코드로 변환
    gcode = 0
    if yh_code != None:
        gcode = yh_code_to_fn_gicode(yh_code)
    elif corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
    elif stock_code != None:
        gcode = stock_code

    relate_corp = relate_code_crawl(co=gcode)

    dict_list = [idv_radar_data(stock_code=stcd) for stcd in relate_corp]

    dict_list = [x for x in dict_list if x is not None]


    return label_list, dict_list



#                   ==============
#                       시각화
#                   ==============

# -------- 매출, 당기순이익 추이 그래프
def mch_dg(yh_code=None, corp_name=None, stock_code=None):
    gcode=0

    if yh_code != None:
        gcode = yh_code_to_fn_gicode(yh_code)
        nm = yh_code_to_nm(yh_code)
    elif corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
        nm = corp_name
    elif stock_code != None:
        gcode = stock_code
        nm = stc_code_to_nm(stock_code)

    bs_df=bs_craw(stock_code=gcode, kind=1)
    label_list=bs_df.columns[1:6].tolist() # 네 분기 + 전년동기
    mch_list=bs_df.loc[0, label_list].tolist() # 매출액
    dg_list=bs_df.loc[15, label_list].tolist() # 당기순이익

    return label_list, mch_list, dg_list


# -------- BS TABLE (재무상태표 필요 없다 ^^)
# def bs_table(corp_name=None, yh_code=None, stock_code=None):
#     df=bs_craw(corp_name=cor_name, yh_code=yh_code, stock_code=stock_code, kind=1)
#     df
#     """
#     # kind
#         : 0 (연간 포괄손익계산서),  1 (분기별 포괄손익계산서)
#           2 (연간 재무상태표),     3 (분기별 재무상태표)
#           4 (연간 현금흐름표),     5 (분기별 현금프름표)
#     """



# tot_list = []
# print(box_list)
#
# for box in box_list:
#     print(box)
#     for item in box:
#         title = box.select_one('th > div').text
#         print(item)
# list=[]
# price1 = box.select_one("th > div").text
# price2 = box.select_one("").text
#
# list.append(price1)
# list.append(price2)
#
# tot_list.append(list)

# 프레임 만드는 게 주 목적이면 df=pd.DataFrame(data=tot_list) 하고 return df
# df = pd.DataFrame(data=tot_list)
# return tot_list  # [[],[],[]]



# ====================================================
#                      데이터
# ====================================================

# -------- 병합 파일 불러오기
com_df=pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\com_df.csv',
                   dtype={'stock_code':'str', '표준코드': 'str', '단축코드' : 'str'},
                   parse_dates=['listed_date', '상장일'])


# -------- 기업별 산업 코드





# ====================================================
#                  함수 호출(test)
# ====================================================

# df=bs_craw(corp_name='삼성전자', kind=0)
# print(df)
# select_same_industry('삼성전자')

In [93]:
# [array([  0.  , 136.3 , 148.85,  49.76,  21.03]),

sil_df = fn_craw(stock_code=gcode, kind=3)

if (sil_df.iloc[0:8, 3].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass
if (sil_df.iloc[0:8, 9].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
    pass

else:
    # 0. 재무정보는 최신 분기 실공시 기준
    # 0. 단, 배당은 1년에 한 번 이루어지기 때문에 최신 년도 공시 기준임
    sil_df_y = sil_df['최근 연간 실적'].iloc[:, 2]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
    sil_df_q = sil_df['최근 분기 실적'].iloc[:, 3]

    sil_df_y = sil_df_y.fillna(0)
    sil_df_q = sil_df_q.fillna(0)

    if sil_df_y.dtype == 'O':
        sil_df_y[(sil_df_y.str.len() == 1) & (sil_df_y.values == '-')] = 0
        sil_df_y = sil_df_y.astype('float')

    if sil_df_q.dtype == 'O':
        sil_df_q[(sil_df_q.str.len() == 1) & (sil_df_q.values == '-')] = 0
        sil_df_q = sil_df_q.astype('float')


    # 1. 배당성향(bd_tend)
    bd_tend = sil_df_y[15]  # 실제 배당 성향

In [35]:

corp_name='카카오'
gcode=nm_to_fn_gicode(corp_name)

url = f"https://finance.naver.com/item/main.naver?code={gcode}"
table_list = pd.read_html(url, encoding='euc-kr')

In [36]:
table_list[0]

,0,1,2
0,"전일 90,600 90,600","고가 92,50092,500 (상한가 117,500117,500 )","거래량 2,206,789 2,206,789"
1,"시가 89,20089,200","저가 88,70088,700 (하한가 63,500 )","거래대금 200,772 200,772 백만"

In [37]:
table_list[1] # 거래원 정보

     매도상위       거래량     매수상위       거개량
0     NaN       NaN      NaN       NaN
1    키움증권  275417.0     메릴린치  435011.0
2    한국증권  269062.0     한국증권  260061.0
3    KB증권  237515.0     키움증권  224140.0
4      삼성  218400.0     KB증권  215031.0
5  미래에셋대우  212355.0   미래에셋대우  157683.0
6  외국계추정합   39507.0  +403398  442905.0

In [38]:
table_list[2] # 외국인. 기관

      날짜       종가        전일비        외국인        기관
0    NaN      NaN        NaN        NaN       NaN
1  02/18  91400.0    상향  800   296474.0  -61250.0
2  02/17  90600.0  하향  1,300  -391032.0   79132.0
3  02/16  91900.0  상향  3,600   106853.0  339560.0
4  02/15  88300.0    하향  500  -208720.0  102207.0
5  02/14  88800.0  하향  2,900 -1358865.0  299131.0
6  02/11  91700.0  상향  4,400   150106.0   -9780.0
7    NaN      NaN        NaN        NaN       NaN

In [39]:
table_list[3] # 기업실적분석 (연도별, 분기별 주요재무정보 비교)

       주요재무정보  최근 연간 실적                                 최근 분기 실적            \
       주요재무정보   2018.12   2019.12   2020.12 2021.12(E)   2020.09   2020.12
       주요재무정보    IFRS연결    IFRS연결    IFRS연결     IFRS연결    IFRS연결    IFRS연결
0         매출액  24170.00  30701.00  41568.00   60881.00  11004.00  12351.00
1        영업이익    729.00   2068.00   4559.00    6636.00   1202.00   1497.00
2       당기순이익    159.00  -3419.00   1734.00   16704.00   1437.00  -1955.00
3       영업이익률      3.02      6.73     10.97      10.90     10.92     12.12
4        순이익률      0.66    -11.14      4.17      27.44     13.06    -15.83
5   ROE(지배주주)      1.04     -5.81      2.70      21.03     -1.33      2.70
6        부채비율     41.45     52.21     60.94        NaN     50.37     60.94
7        당좌비율    146.51    127.98    162.77        NaN    148.86    162.77
8         유보율  12219.62  12027.79  13881.01        NaN  14373.52  13881.01
9      EPS(원)    123.00   -717.00    355.00    3461.00    290.00   -428.00
10     PER(배)    168.01    -42.82    219.25      25.16   -404.46    219.25
11     BPS(원)  12979.00  12746.00  14647.00   19206.00  14910.00  14647.00
12     PBR(배)      1.59      2.41      5.32       4.54      4.89      5.32
13   주당배당금(원)     25.00     25.00     30.00      31.00       NaN       NaN
14   시가배당률(%)      0.12      0.08      0.04        NaN       NaN       NaN
15    배당성향(%)     20.99     -3.46      8.29        NaN       NaN       NaN


     2021.03   2021.06   2021.09 2021.12(E)
      IFRS연결    IFRS연결    IFRS연결     IFRS연결
0   12580.00  13522.00  17408.00   17371.00
1    1575.00   1626.00   1682.00    1752.00
2    2399.00   3159.00   8663.00    2286.00
3      12.52     12.03      9.66      10.09
4      19.07     23.36     49.76      13.16
5       5.00      6.90     14.84        NaN
6      71.56     61.86     67.18        NaN
7     163.55    180.06    136.30        NaN
8   14508.10  16585.55  18562.21        NaN
9     506.00    702.00   1752.00     435.00
10    144.96    151.91     46.46     200.29
11  15428.00  17937.00  20276.00   19206.00
12      6.46      9.09      5.82       4.54
13       NaN       NaN       NaN        NaN
14       NaN       NaN       NaN        NaN
15       NaN       NaN       NaN        NaN

In [40]:
# 동일업종비교
table_list[4]

,종목명,카카오*035720,NAVER*035420,아프리카TV*067160,자이언트스텝*289220,키다리스튜디오*020120
0,현재가,91400,318000,140600,42750,15050
1,전일대비,상향 800,"하향 6,500","하향 4,700",하향 350,상향 650
2,등락률,상향 +0.88%,하향 -2.00%,하향 -3.23%,하향 -0.81%,상향 +4.51%
3,시가총액(억),407609,521676,16161,9334,5223
4,외국인비율(%),28.07,55.12,46.34,2.79,1.21
5,매출액(억),17408,17273,711,85,347
6,영업이익(억),1682,3498,231,-5,35
7,조정영업이익(억),1682,3498,231,-5,35
8,영업이익증가율(%),3.42,4.21,7.35,61.09,91.31
9,당기순이익(억),8663,3227,197,-4,37
10,주당순이익(원),1751.60,2020.61,1718.53,-22.16,111.71
11,ROE(%),14.84,109.92,39.03,-7.85,5.51
12,PER(%),35.98,3.15,25.29,-440.72,64.32
13,PBR(배),4.51,2.00,8.03,27.96,2.46

In [41]:
# 투자정보 시가총액, 시가총액순위, 상장주식수, 액면가, 매매단위
table_list[5]

          0               1
0      시가총액  40조  7,609  억원
1    시가총액순위          코스피 8위
2     상장주식수       445962051
3  액면가l매매단위     100원  l  1주

In [42]:
# 외국인 주식
table_list[6]

             0          1
0  외국인한도주식수(A)  445962051
1  외국인보유주식수(B)  125170869
2  외국인소진율(B/A)     28.07%

In [43]:
# 투자의견, 목표주가
table_list[7]

           0                   1
0  투자의견l목표주가  4.00매수  l  139,800
1   52주최고l최저  173,000  l  82,200

In [44]:
# PER, PBR, 배당수익률
table_list[8]

                   0                  1
0   PERlEPS(2021.09)  35.98배  l  2,540원
1          추정PERlEPS  46.00배  l  1,992원
2  PBRlBPS (2021.09)  4.51배  l  20,276원
3      배당수익률l2021.12              0.06%

In [45]:
# 동일업종
table_list[9]

          0       1
0  동일업종 PER   5.50배
1  동일업종 등락률  -0.74%

In [46]:
# 호가 10단계
table_list[10]

        매도잔량 호가(20분지연)     매수잔량
0        NaN       NaN      NaN
1    19501.0     92400      NaN
2     9081.0     92300      NaN
3     8249.0     92200      NaN
4     4707.0     92100      NaN
5    13951.0     92000      NaN
6    13859.0     91900      NaN
7    12225.0     91800      NaN
8    10729.0     91700      NaN
9     6463.0     91600      NaN
10   15517.0     91500      NaN
11       NaN       NaN      NaN
12       NaN     91400   1076.0
13       NaN     91300   2655.0
14       NaN     91200   3893.0
15       NaN     91100   8703.0
16       NaN     91000  13061.0
17       NaN     90900   2748.0
18       NaN     90800  10980.0
19       NaN     90700   8746.0
20       NaN     90600  13346.0
21       NaN     90500  14264.0
22       NaN       NaN      NaN
23  114282.0      잔량합계  79472.0

In [47]:
# 인기검색종목 코스피
table_list[11]

             업체명       거래량        전일비
0           삼성전자   74300.0    하향  700
1            카카오   91400.0    상향  800
2         코오롱인더우   30000.0    상향  150
3   ARIRANG 고배..   13065.0     상향  40
4         SK하이닉스  131500.0  하향  1,500
5            NaN       NaN        NaN
6    KODEX 배당성..   14795.0     상향  75
7         한국조선해양   84000.0  상향  1,300
8       KODEX 건설    3190.0     상향  60
9      TIGER 200   37290.0    하향  130
10          유한양행   56500.0    하향  100

In [48]:
# 인기검색종목 코스닥
table_list[12]

          업체명      거래량        전일비
0        펄어비스  94600.0  하향  1,500
1    골프존뉴딘홀..   8180.0     하향  10
2         다나와  22800.0    상향  450
3        나노엔텍   7130.0    상향  230
4    이스트아시아..    125.0         보합
5         NaN      NaN        NaN
6    에코프로에이..  52500.0  상향  1,400
7         디어유  44000.0    하향  900
8        씨유테크   6940.0     상향  20
9      유진스팩6호   2250.0     하향  20
10  유안타제7호스..   2160.0         보합

In [ ]:
asdfasdf

# 유동성, 건전성

In [151]:

# -------- 관련 기업 지표 선정
def relate_radar_data(yh_code=None, corp_name=None, stock_code=None):
    label_list=['배당성향', '유동성', '건전성', '수익성', '성장성']
    dict_list = []

    # 주식 코드,이름으로 변환
    if yh_code != None:
        gcode = yh_code_to_fn_gicode(yh_code)
        nm = yh_code_to_nm(yh_code)
    elif corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
        nm = corp_name
    elif stock_code != None:
        gcode = stock_code
        nm = stc_code_to_nm(stock_code)

    relate_corp = relate_code_crawl(co=gcode)

    dict_list = [idv_radar_data(stock_code=stcd) for stcd in relate_corp]
    dict_list = [x for x in dict_list if x is not None]
    
    keys_list = [list(dict_list[i].keys())[0] for i in range(len(dict_list))]
    
    my_arr=np.zeros([5,5])

    for i, dic in enumerate(dict_list):
        my_arr[i]=(np.array(dic[keys_list[i]]))

    my_arr[:,0]=(my_arr[:,2]/my_arr[:,2].mean())*100
    my_arr[:,1]=(my_arr[:,2]/my_arr[:,2].mean())*100
    my_arr[:,2]=(my_arr[:,2]/my_arr[:,2].mean())*100
    my_arr[:,3]=(my_arr[:,3]/my_arr[:,3].mean())*100
    my_arr[:,4]=(my_arr[:,2]/my_arr[:,2].mean())*100

    for i, dic in enumerate(dict_list):
        dic[keys_list[i]]=my_arr[i,:].tolist()
        dict_list[i]=dic

    return label_list, dict_list

In [144]:
relate_corp = relate_code_crawl(co=gcode)

dict_list = [idv_radar_data(stock_code=stcd) for stcd in relate_corp]

# dict_list = [x for x in dict_list if x is not None]

In [143]:
dict_list

[{'카카오': [8.29, 136.3, 148.85, 49.76, 2.48]}, {'NAVER': [5.92, 97.68, 276.47, 18.68, 14.31]}, {'아프리카TV': [19.31, 115.37, 109.76, 27.71, 22.24]}, {'자이언트스텝': [0.0, 149.21, 302.85, -4.71, -13.13]}, {'키다리스튜디오': [0.0, 150.42, 493.58, 10.66, 0.22]}]

In [105]:

keys_list

['카카오', 'NAVER', '아프리카TV', '자이언트스텝', '키다리스튜디오']

In [149]:


    # dict_list[i]=my_arr[i,:]

In [150]:
dict_list

[{'카카오': array([  8.29      , 136.3       ,  55.89518667, 243.68266405,
         2.48      ])}, {'NAVER': array([  5.92      ,  97.68      , 103.81822142,  91.47894221,
        14.31      ])}, {'아프리카TV': array([ 19.31      , 115.37      ,  41.21636338, 135.70029383,
        22.24      ])}, {'자이언트스텝': array([  0.        , 149.21      , 113.72426794, -23.06562194,
       -13.13      ])}, {'키다리스튜디오': array([  0.        , 150.42      , 185.3459606 ,  52.20372184,
         0.22      ])}]

In [133]:
my_arr

array([[ 8.29000000e+00,  1.36300000e+02,  5.58951867e+01,
         2.43682664e+02,  2.48000000e+00],
       [ 5.92000000e+00,  9.76800000e+01,  1.03818221e+02,
         9.14789422e+01,  1.43100000e+01],
       [ 1.93100000e+01,  1.15370000e+02,  4.12163634e+01,
         1.35700294e+02,  2.22400000e+01],
       [ 0.00000000e+00,  1.49210000e+02,  1.13724268e+02,
        -2.30656219e+01, -1.31300000e+01],
       [ 0.00000000e+00,  1.50420000e+02,  1.85345961e+02,
         5.22037218e+01,  2.20000000e-01]])

In [112]:
arr_list[:][2]/arr_list[:][2].mean()

array([0.3279663 , 1.95947553, 1.86419376, 0.47063419, 0.37773022])

In [16]:
# -------- 병합 파일 불러오기
com_df=pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\com_df.csv',
                   dtype={'stock_code':'str', '표준코드': 'str', '단축코드' : 'str'},
                   parse_dates=['listed_date', '상장일'])

# -------- 기업별 산업 코드
uj_to_pj = pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\industry\\국세청업종코드_표준산업분류.csv', dtype=str)
# pj_to_grc = pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\industry\\표준산업_GRC코드.csv', dtype=str)

com_df.info()
uj_to_pj
# pj_to_grc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2456 entries, 0 to 2455
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cd            2456 non-null   object
 1   nm            2456 non-null   object
 2   corp_name     2456 non-null   object
 3   stock_code    2456 non-null   object
 4   industry      2456 non-null   object
 5   main_product  2446 non-null   object
 6   listed_date   2456 non-null   datetime64[ns]
 7   settle_month  2456 non-null   object
 8   hpage         2310 non-null   object
 9   표준코드          2456 non-null   object
 10  단축코드          2456 non-null   object
 11  한글 종목명        2456 non-null   object
 12  한글 종목약명       2456 non-null   object
 13  영문 종목명        2456 non-null   object
 14  상장일           2456 non-null   datetime64[ns]
 15  증권구분          2456 non-null   object
 16  주식종류          2456 non-null   object
 17  액면가           2456 non-null   object
 18  상장주식수         2456 non-null   int64
 19  yh_code       2456 non-null   object
dtypes: datetime64[ns](2), int64(1), object(17)
memory usage: 383.9+ KB

      소분류      소분류.1   세분류                 세분류.1
0     011     작물 재배업  0111      곡물 및 기타 식량작물 재배업
1     011     작물 재배업  0112     채소, 화훼작물 및 종묘 재배업
2     011     작물 재배업  0112     채소, 화훼작물 및 종묘 재배업
3     011     작물 재배업  0112     채소, 화훼작물 및 종묘 재배업
4     011     작물 재배업  0113  과실, 음료용 및 향신용 작물 재배업
...   ...        ...   ...                   ...
1674  990  국제 및 외국기관  9900             국제 및 외국기관
1675  NaN        NaN  7151                  회사본부
1676  NaN        NaN  7151                  회사본부
1677  NaN        NaN  9810    자가 소비를 위한 가사 생산 활동
1678  NaN        NaN  9820   자가 소비를 위한 가사 서비스 활동

[1679 rows x 4 columns]

In [ ]:
listed_comp[listed_comp['corp_name']=='전방']

In [ ]:
uj_to_pj.columns=['소분류', 'industry', '세분류', '세분류.1']

In [ ]:
pd.merge(listed_comp, uj_to_pj, how='inner', on='industry')

In [ ]:
listed_comp.join(uj_to_pj, how='inner', on='industry')

In [ ]:
listed_comp.shape

In [ ]:
uj_to_pj.shape

In [ ]:
listed_comp['industry'].value_counts().sort_index()

In [ ]:
uj_to_pj['industry'].value_counts().sort_index()