In [1]:
# -------- data
import pandas as pd
import numpy as np

import sqlalchemy as sa

# -------- str
import re
# -------- date
from datetime import datetime, date

# -------- craw
from bs4 import BeautifulSoup # 클래스라 생성자 만들어야 함
import requests

# -------- flask
from flask import Flask, make_response, jsonify, request, render_template
from flask_cors import CORS, cross_origin
import json

# -------- API
# import yfinance

In [2]:
gcode='005930'
url = f"https://finance.naver.com/item/main.naver?code={gcode}"
headers = {'User-Agent': 'Mozilla'}

# res = requests.get(url, headers=headers)
# res.encoding = 'utf-8-sig'
# soup = BeautifulSoup(res.text, "html.parser")

table_list = pd.read_html(url, encoding='euc-kr')

# for i, dfdf in enumerate(table_list):
#     print("**"*30)
#     print(i)
#     print(dfdf.info())
#     print(table_list[i].head())

In [3]:
table_list[0]

,0,1,2
0,"전일 75,000 75,000","고가 74,80074,800 (상한가 97,50097,500 )","거래량 10,038,318 10,038,318"
1,"시가 74,60074,600","저가 73,70073,700 (하한가 52,500 )","거래대금 745,341 745,341 백만"

In [4]:
table_list[1] # 거래원 정보

     매도상위        거래량      매수상위        거개량
0     NaN        NaN       NaN        NaN
1   홍콩상하이  1357440.0        한화  1365176.0
2      한화  1348415.0      이베스트  1168730.0
3    이베스트  1212871.0      한국증권   729929.0
4    한국증권   738504.0      키움증권   673226.0
5  NH투자증권   624350.0    NH투자증권   648739.0
6  외국계추정합  1357440.0  -1009641   347799.0

In [5]:
table_list[2] # 외국인. 기관

      날짜       종가        전일비        외국인         기관
0    NaN      NaN        NaN        NaN        NaN
1  02/18  74300.0    하향  700  -832661.0  -144739.0
2  02/17  75000.0    상향  200  2034949.0  1057634.0
3  02/16  74800.0  상향  1,100   120996.0   426711.0
4  02/15  73700.0         보합     2316.0   435092.0
5  02/14  73700.0  하향  1,200 -1758669.0   814643.0
6  02/11  74900.0    하향  500  1756169.0 -1488456.0
7    NaN      NaN        NaN        NaN        NaN

In [6]:
table_list[3] # 기업실적분석 (연도별, 분기별 주요재무정보 비교)

       주요재무정보    최근 연간 실적                                       최근 분기 실적  \
       주요재무정보     2018.12     2019.12     2020.12  2021.12(E)    2020.09
       주요재무정보      IFRS연결      IFRS연결      IFRS연결      IFRS연결     IFRS연결
0         매출액  2437714.00  2304009.00  2368070.00  2780676.00  669642.00
1        영업이익   588867.00   277685.00   359939.00   528345.00  123532.00
2       당기순이익   443449.00   217389.00   264078.00   403419.00   93607.00
3       영업이익률       24.16       12.05       15.20       19.00      18.45
4        순이익률       18.19        9.44       11.15       14.51      13.98
5   ROE(지배주주)       19.63        8.69        9.98       14.16       9.51
6        부채비율       36.97       34.12       37.07         NaN      36.09
7        당좌비율      204.12      233.57      214.82         NaN     229.69
8         유보율    27531.92    28856.02    30692.79         NaN   30242.29
9      EPS(원)     6024.00     3166.00     3841.00     5852.00    1364.00
10     PER(배)        6.42       17.63       21.09       13.38      15.89
11     BPS(원)    35342.00    37528.00    39406.00    43243.00   39446.00
12     PBR(배)        1.09        1.49        2.06        1.81       1.48
13   주당배당금(원)     1416.00     1416.00     2994.00     1681.00        NaN
14   시가배당률(%)        3.66        2.54        3.70         NaN        NaN
15    배당성향(%)       21.92       44.73       77.95         NaN        NaN


      2020.12    2021.03    2021.06    2021.09 2021.12(E)
       IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
0   615515.00  653885.00  636716.00  739792.00  752699.00
1    90470.00   93829.00  125667.00  158175.00  150702.00
2    66071.00   71417.00   96345.00  122933.00  113345.00
3       14.70      14.35      19.74      21.38      20.02
4       10.73      10.92      15.13      16.62      15.06
5        9.98      10.79      12.04      12.60        NaN
6       37.07      43.23      36.29      38.30        NaN
7      214.82     192.26     214.08     210.70        NaN
8    30692.79   30135.47   31140.36   32225.78        NaN
9      949.00    1044.00    1391.00    1775.00    1637.00
10      21.09      19.54      16.99      14.36      47.82
11   39406.00   39126.00   40361.00   42447.00   43243.00
12       2.06       2.08       2.00       1.75       1.81
13        NaN        NaN        NaN        NaN        NaN
14        NaN        NaN        NaN        NaN        NaN
15        NaN        NaN        NaN        NaN        NaN

In [7]:
# 동일업종비교
table_list[4]

           종목명 삼성전자*005930 SK하이닉스*000660 SK스퀘어402340 DB하이텍*000990  리노공업058470
0          현재가       74300        131500       54200        71500      180800
1         전일대비     하향  700     하향  1,500         보합0      상향  100   상향  1,000
2          등락률  하향  -0.93%    하향  -1.13%       0.00%   상향  +0.14%  상향  +0.56%
3      시가총액(억)     4435548        957323       76675        31744       27558
4     외국인비율(%)       52.24         50.88       38.05        24.27       48.22
5       매출액(억)      739792        118053         NaN         3284         769
6      영업이익(억)      158175         41718         NaN         1190         321
7    조정영업이익(억)      158175         41718         NaN         1190         321
8   영업이익증가율(%)       25.87         54.82         NaN        46.18       -6.77
9     당기순이익(억)      122933         33153         NaN          927         289
10    주당순이익(원)     1775.03       4547.82         NaN      2081.86     1893.67
11      ROE(%)       12.60         14.75         NaN        24.18       24.73
12      PER(%)       14.40         11.89         NaN        14.94       30.64
13      PBR(배)        1.75          1.54         NaN         3.17        6.91

In [8]:
# 투자정보 시가총액, 시가총액순위, 상장주식수, 액면가, 매매단위
table_list[5]

          0                1
0      시가총액  443조  5,548  억원
1    시가총액순위           코스피 1위
2     상장주식수       5969782550
3  액면가l매매단위      100원  l  1주

In [9]:
# 외국인 주식
table_list[6]

             0           1
0  외국인한도주식수(A)  5969782550
1  외국인보유주식수(B)  3118576239
2  외국인소진율(B/A)      52.24%

In [10]:
# 투자의견, 목표주가
table_list[7]

           0                  1
0  투자의견l목표주가  3.95매수  l  99,909
1   52주최고l최저  86,200  l  68,300

In [11]:
# PER, PBR, 배당수익률
table_list[8]

                   0                  1
0   PERlEPS(2021.09)  14.40배  l  5,159원
1          추정PERlEPS  11.00배  l  6,492원
2  PBRlBPS (2021.09)  1.75배  l  42,447원
3      배당수익률l2021.12              1.94%

In [12]:
# 동일업종
table_list[9]

          0       1
0  동일업종 PER  13.02배
1  동일업종 등락률  -0.81%

In [13]:
# 호가 10단계
table_list[10]

        매도잔량 호가(20분지연)       매수잔량
0        NaN       NaN        NaN
1    42256.0     75200        NaN
2    20566.0     75100        NaN
3    98104.0     75000        NaN
4    49565.0     74900        NaN
5    71886.0     74800        NaN
6    62774.0     74700        NaN
7    90877.0     74600        NaN
8   126984.0     74500        NaN
9    66512.0     74400        NaN
10   12972.0     74300        NaN
11       NaN       NaN        NaN
12       NaN     74200   108568.0
13       NaN     74100   146184.0
14       NaN     74000   191019.0
15       NaN     73900   128457.0
16       NaN     73800   126986.0
17       NaN     73700   151747.0
18       NaN     73600    81021.0
19       NaN     73500   216849.0
20       NaN     73400    31410.0
21       NaN     73300    61051.0
22       NaN       NaN        NaN
23  642496.0      잔량합계  1243292.0

In [14]:
# 인기검색종목 코스피
table_list[11]

             업체명       거래량         전일비
0           삼성전자   74300.0     하향  700
1            카카오   91400.0     상향  800
2   ARIRANG 고배..   13065.0      상향  40
3         SK하이닉스  131500.0   하향  1,500
4      TIGER 200   37290.0     하향  130
5            NaN       NaN         NaN
6           LG화학  629000.0  하향  11,000
7            현대차  183500.0          보합
8   TIGER 200 IT   34415.0     하향  170
9    KODEX 골드선..   12760.0     상향  100
10   KODEX 레버리..   20750.0     하향  155

In [15]:
# 인기검색종목 코스닥
table_list[12]

         업체명      거래량      전일비
0         디딤   1155.0   상향  45
1     드림시큐리티   4110.0   상향  60
2       디아이티   8880.0  상향  110
3     자이언트스텝  42750.0  하향  350
4   HLB테라퓨틱스  12550.0  상향  500
5        NaN      NaN      NaN
6     어보브반도체  12600.0   상향  50
7       에스티오   2525.0    상향  5
8         씨젠  50200.0  상향  200
9       케이씨티   6280.0   상향  70
10    셀트리온제약  85900.0  하향  500

In [16]:
def relate_code_crawl(co):
    #연관 종목코드 있는 페이지 불러오기
    url='https://finance.naver.com/item/main.naver?code='+str(co)
    page=pd.read_html(url,encoding='CP949')
    #연관 종목명과 종목코드 뽑아내기(code_list[0]은 '종목명'이어서 제외)
    code_list=page[4].columns.tolist()
    code_list=code_list[1:]
    #종목코드 리스트 반환
    codes=[]
    for word in (code_list):
        codes.append(word[-6:])
    #print(codes)
    return codes

relate_code_crawl('000660')

['000660', '005930', '402340', '000990', '058470']

In [19]:
url='https://finance.naver.com/item/main.naver?code='+str('000660')
page=pd.read_html(url,encoding='CP949')
#연관 종목명과 종목코드 뽑아내기(code_list[0]은 '종목명'이어서 제외)
code_list=page[4].columns.tolist()
code_list=code_list[1:]
#종목코드 리스트 반환
codes=[]
for word in (code_list):
    codes.append(word[-6:])

In [535]:
# ====================================================
#                       패키지
# ====================================================
# -------- data
import pandas as pd
import numpy as np

import sqlalchemy as sa

# -------- str
import re
# -------- date
from datetime import datetime, date
# -------- float
import math

# -------- craw
from bs4 import BeautifulSoup # 클래스라 생성자 만들어야 함
import requests

# -------- flask
from flask import Flask, make_response, jsonify, request, render_template
from flask_cors import CORS, cross_origin
import json

# -------- API
# import yfinance


# --------
# ====================================================
#                      기본 설정
# ====================================================

# sql 이름과 비밀번호 수정 필요
engine = sa.create_engine('oracle://ai:1111@localhost:1521/XE')
conn = engine.connect()
conn.close() # TODO 사용 후 close 해주기
# ----------------------------------------------------

# ====================================================
#                       함  수
# ====================================================

"""
# 변수 설명
# 크롤링 데이터 : nm(회사명), cd(네이버에서 사용하는 회사 코드)
# 상장 기업 리스트 : corp_name(회사명), stock_code(종목코드), industry(업종), main_product(주요제품), listed_date(상장일), settle_mont(	결산월), pres(대표자명), hpage(홈페이지), region(지역)
# 야후 파이낸스 : yh_code(TODO 변경 필요)
"""

#                   ==============
#                      업종 분류
#                   ==============
# -------- 동일 업종 기업 출력
# TODO(미완성) 동일 업종 선택
def select_same_industry(corp_name):
    indus=com_df[com_df['nm']==corp_name]['industry'].values[0] # TODO(df 확인)

    # print(com_df.groupby(by='industry')['nm'].nunique().max()) # 동종업계 최대 151개 -> 151개 재무제표 크롤링?

    list_com=com_df[com_df['industry']==indus]['corp_name'].values.tolist() # TODO(리스트로???)
    print(list_com) # TODO(print 없앨 예정)
    return list_com



#  -------- 네이버증권 연관기업 코드(hjh)
def relate_code_crawl(co):
    #연관 종목코드 있는 페이지 불러오기
    url='https://finance.naver.com/item/main.naver?code='+str(co)
    page=pd.read_html(url,encoding='CP949')
    #연관 종목명과 종목코드 뽑아내기(code_list[0]은 '종목명'이어서 제외)
    code_list=page[4].columns.tolist()
    code_list=code_list[1:]
    #종목코드 리스트 반환
    codes=[]
    for word in (code_list):
        codes.append(word[-6:])
    #print(codes)
    return codes

#relate_code_crawl('000660')



#                   ==============
#                  기업 이름 코드 변환
#                   ==============

# -------- 네이버 재무제표 크롤링 용 gicode로 변환
# TODO(미완성)
def nm_to_bs_gicode(corp_name):
    gi=com_df[com_df['nm']==corp_name]['cd'] # TODO(데이터 프레임에서 직접 꺼내오지 않게(직접 여기서 크롤링 하는 것보다는 DB에서 꺼내오는 게 나을듯))
    gi=gi.values[0]
    return gi



def stc_code_to_bs_gicode(stock_code):
    gi = com_df[com_df['stock_code'] == stock_code]['cd']  # TODO(데이터 프레임에서 직접 꺼내오지 않게(직접 여기서 크롤링 하는 것보다는 DB에서 꺼내오는 게 나을듯))
    gi = gi.values[0]
    return gi
    # ----------- 검색 용
    # Series.str.contains 외에도 start_with, end_with 등등 있다
    # print(com_df[com_df['nm'].str.contains('카카오')][['cd', 'nm']])
    # print(com_df[com_df['nm'].str.contains('카카오')]['cd'].tolist())



# TODO(미완성)
def yh_code_to_bs_gicode(yh_code):
    print('haha')



# -------- 네이버 금융 크롤링 용 gicode로 변환
def nm_to_fn_gicode(corp_name):
    gi=com_df[com_df['nm']==corp_name]['stock_code'] # TODO(데이터 프레임에서 직접 꺼내오지 않게(직접 여기서 크롤링 하는 것보다는 DB에서 꺼내오는 게 나을듯))
    gi=gi.values[0]
    return gi



# -------- 코드를 기업이름으로 변환
def stc_code_to_nm(stock_code):
    gi = com_df[com_df['stock_code'] == stock_code]['nm']  # TODO(데이터 프레임에서 직접 꺼내오지 않게(직접 여기서 크롤링 하는 것보다는 DB에서 꺼내오는 게 나을듯))
    gi = gi.values[0]
    return gi



#                   ==============
#                     데이터 수집
#                   ==============

# TODO(크롤링 할 건지 API 호출할 건지 & 미완성)
# -------- Balance Sheets API call
def bs_api(corp_name=None, yh_code=None, stock_code=None):
    print('haha')
    # 공공데이터포털 자료



# -------- Balance Sheets Crawling(재무제표 크롤링)
def bs_craw(corp_name=None, yh_code=None, stock_code=None, kind=0): # ------- 검색과 연동해서 입력 변수 설정
    """
    # kind
        : 0 (연간 포괄손익계산서),  1 (분기별 포괄손익계산서)
          2 (연간 재무상태표),     3 (분기별 재무상태표)
          4 (연간 현금흐름표),     5 (분기별 현금프름표)
    """

    # ------- 검색과 연동해서 입력되는 변수 따라 gicode(네이버에서 분류하는 기업 코드)로 변환
    gcode=0
    if corp_name!=None:
        gcode=nm_to_bs_gicode(corp_name)
    elif yh_code!=None:
        gcode=yh_code_to_bs_gicode(yh_code)
    elif stock_code!=None:
        gcode=stc_code_to_bs_gicode(stock_code)

    url = f"http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?NewMenuID=103&gicode={gcode}"
    # headers = {'User-Agent': 'Mozilla'}
    #
    # res = requests.get(url, headers=headers)
    # soup = BeautifulSoup(res.text, "html.parser")

    table_list = pd.read_html(url, encoding='UTF-8')
    new_table_list = []
    # print(len(table_list))
    # print(table_list[0].head())

    # 항목에서 불필요한 부분 제거('계산에 참여한 계정 펼치기')
    for tbl in table_list:
        for i, idx in enumerate(tbl.iloc[:,0]):
            m = idx.replace('계산에 참여한 계정 펼치기','')
            tbl.iloc[i, 0] = m
        new_table_list.append(tbl)

    return new_table_list[kind]


# ------- 네이버 금융
def fn_craw(corp_name=None, yh_code=None, stock_code=None, kind=0):
    """
       # kind
           : 0 (전일&당일 상한가, 하한가, 거래량 등) #TODO 가공 필요
             1 (증권사 별 매도 매수 정보) #TODO 가공 필요(컬럼이름)
             2 (외국인, 기관 거래 정보) #TODO 가공 필요
             3 (기업실적분석(연도별 분기별 주요재무 정보)) #TODO 가공 필요?
             4 (동일업종비교) #TODO 가공 필요?
             5 (시가총액, 주식수, 액면가 정보) #TODO 가공 필요
             6 (외국인 주식 한도, 보유 정보)
             7 (목표주가 정보) #TODO 가공 필요
             8 (PER, PBR 배당수익률 정보) (주가 따라 변동) #TODO 가공 필요
             9 (동일업종 PER, 등락률 정보) #TODO 가공 필요
             10 (호가 10단계)
             11 (인기 검색 종목: 코스피) #TODO 가공 필요
             12 (인기 검색 종목: 코스닥) #TODO 가공 필요
       """

    gcode = 0
    if corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
    elif stock_code != None:
        gcode = str(stock_code)

    url = f"https://finance.naver.com/item/main.naver?code={gcode}"
    table_list = pd.read_html(url, encoding='euc-kr')

    return table_list[kind]






#                   ==============
#                      지표 선정
#                   ==============

# -------- 지표 선정
def idv_radar_data(corp_name=None, yh_code=None, stock_code=None):  # TODO(연관기업리스트 for문)
    """
    # <지표 설명> #TODO (추가)
    # 1. 배당 분석                      -> 배당성향(배당 커버리지의 역수.)
    # 2. 유동성 분석(단기채무지급능력)    -> 당좌비율(당좌자산 / 유동부채)
    # 3. 재무건전성 분석(레버리지 비율)   -> 부채비율(총부채 / 자기자본)의 역수
    # 4. 수익성분석                      -> 매출수익성(당기순이익/매출액))
    # 5. 성장성분석                      -> 순이익성장률
    """

    if corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
        nm = corp_name
    elif stock_code != None:
        gcode = stock_code
        nm = stc_code_to_nm(stock_code)

    sil_df = fn_craw(stock_code=gcode, kind=3)

    if (sil_df.iloc[0:8, 3].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass
    if (sil_df.iloc[0:8, 9].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass

    else:
        # 0. 재무정보는 최신 분기 실공시 기준
        # 0. 단, 배당은 1년에 한 번 이루어지기 때문에 최신 년도 공시 기준임
        sil_df_y = sil_df['최근 연간 실적'].iloc[:, 3]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
        sil_df_q = sil_df['최근 분기 실적'].iloc[:, 4]

        sil_df_y = sil_df_y.fillna(0)
        sil_df_q = sil_df_q.fillna(0)

        if sil_df_y.dtype == 'O':
            sil_df_y[(sil_df_y.str.len() == 1) & (sil_df_y.values == '-')] = 0
            sil_df_y = sil_df_y.astype('float')

        if sil_df_q.dtype == 'O':
            sil_df_q[(sil_df_q.str.len() == 1) & (sil_df_q.values == '-')] = 0
            sil_df_q = sil_df_q.astype('float')

        # 1. 배당성향(bd_tend)
        bd_tend = sil_df_y[15]  # 실제 배당 성향

        # 2. 유동성 분석 - 당좌비율(당좌자산/유동부채)
        #                       당좌자산 = (유동자산 - 재고자산)
        dj_rate = sil_df_q[7]  # 당좌비율

        # 3. 재무건전성 분석 - 부채비율(총부채/자기자본)의 역수
        bch_rate = sil_df_q[6] / 100  # 부채비율
        bch_rate = round((1 / bch_rate) * 100, 2)

        # 4. 수익성 분석 - 매출수익성(당기순이익/매출액) # TODO 매출액 0인 애들은?

        dg_bene = sil_df_q[2]
        mch = sil_df_q[0]

        suyk = round((dg_bene / mch) * 100, 2)

        # 5. 성장성 분석 - 순이익성장률(지속성장 가능률)
        # (1-배당성향)*자기자본순이익률(ROE)
        #    유보율

        roe = sil_df_y[5] / 100
        ubo = (100 - bd_tend) / 100
        grth = round(roe * ubo * 100, 2)

        data_list = [bd_tend, dj_rate, bch_rate, suyk, grth]
        data_dict = {nm: data_list}

        return(data_dict)


# -------- 관련 기업 지표 선정
def relate_radar_data(corp_name=None, yh_code=None, stock_code=None):
    label_list=['배당성향', '유동성', '건전성', '수익성', '성장성']
    dict_list = []

    # 주식 코드로 변환
    gcode = 0
    if corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
    elif stock_code != None:
        gcode = stock_code

    relate_corp = relate_code_crawl(co=gcode)

    dict_list = [idv_radar_data(stock_code=stcd) for stcd in relate_corp]

    dict_list = [x for x in dict_list if x is not None]


    return label_list, dict_list



#                   ==============
#                       시각화
#                   ==============

# -------- 매출, 당기순이익 추이 그래프
def mch_dg(corp_name=None, yh_code=None, stock_code=None):
    gcode=0

    if corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
        nm = corp_name
    elif stock_code != None:
        gcode = stock_code
        nm = stc_code_to_nm(stock_code)

    bs_df=bs_craw(stock_code=gcode, kind=1)
    label_list=bs_df.columns[1:6].tolist() # 네 분기 + 전년동기
    mch_list=bs_df.loc[0, label_list].tolist() # 매출액
    dg_list=bs_df.loc[15, label_list].tolist() # 당기순이익

    return label_list, mch_list, dg_list


# -------- BS TABLE (재무상태표 필요 없다 ^^)
# def bs_table(corp_name=None, yh_code=None, stock_code=None):
#     df=bs_craw(corp_name=cor_name, yh_code=yh_code, stock_code=stock_code, kind=1)
#     df
#     """
#     # kind
#         : 0 (연간 포괄손익계산서),  1 (분기별 포괄손익계산서)
#           2 (연간 재무상태표),     3 (분기별 재무상태표)
#           4 (연간 현금흐름표),     5 (분기별 현금프름표)
#     """



# tot_list = []
# print(box_list)
#
# for box in box_list:
#     print(box)
#     for item in box:
#         title = box.select_one('th > div').text
#         print(item)
# list=[]
# price1 = box.select_one("th > div").text
# price2 = box.select_one("").text
#
# list.append(price1)
# list.append(price2)
#
# tot_list.append(list)

# 프레임 만드는 게 주 목적이면 df=pd.DataFrame(data=tot_list) 하고 return df
# df = pd.DataFrame(data=tot_list)
# return tot_list  # [[],[],[]]



# ====================================================
#                      데이터            # TODO(데이터 저장 다르게)
# ====================================================

# -------- 네이버 company list : nv_com_df
# -------- TODO DB 저장해두고 불러오는 게 빠를 수도
url = "http://comp.fnguide.com/XML/Market/CompanyList.txt"

nv_com_res = requests.get(url)
nv_com_res.encoding = "utf-8-sig"  # # ISO-8859-1

nv_com_json = json.loads(nv_com_res.text)

nv_com_df = pd.DataFrame(data=nv_com_json["Co"])
nv_com_df['gb']=nv_com_df['gb'].astype('int')



# TODO(csv 파일 가져올 경로 설정)
# -------- 상장법인목록(산업 정보 포함) : listed company
listed_comp=pd.read_csv('C:\\Users\\LHL\\Desktop\\상장법인목록.csv', dtype=str)
listed_comp.columns=['corp_name', 'stock_code', 'industry', 'main_product','listed_date',  'settle_month', 'presid', 'hpage', 'region']




# -------- KOSPI, KOSDAQ 시장
# kos_kdq=pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\kos_stock_code.csv', dtype={'단축코드':'str'})



# TODO(상대 목록에 없는 기업 어떻게 처리할 것인가)
# -------- OUTER JOIN (네이버 company list 상장법인목록(산업 정보 포함))
nv_com_df2=nv_com_df[nv_com_df['gb']==701]
# nv_com_df2.info()
# com_df=pd.merge(nv_com_df2, listed_comp, how='outer', left_on= 'nm', right_on= 'corp_name')



# -------- 기업별 산업 코드





# ====================================================
#                  함수 호출(test)
# ====================================================

# df=bs_craw(corp_name='삼성전자', kind=0)
# print(df)
# select_same_industry('삼성전자')

# 데이터 불러오는 부분 수정

In [695]:
# ====================================================
#                      데이터            # TODO(데이터 저장 다르게)
# ====================================================

#                   *****************
# !!!주의!!! : 야후에서 사용하는 코드의 피쳐 이름 stock_code -> yh_code로 변경됨
#                   *****************


#                   ==============
#                       불러오기
#                   ==============

# -------- 네이버 company list : nv_com_df
url = "http://comp.fnguide.com/XML/Market/CompanyList.txt"

nv_com_res = requests.get(url)
nv_com_res.encoding = "utf-8-sig"  # # ISO-8859-1

nv_com_json = json.loads(nv_com_res.text)

nv_com_df = pd.DataFrame(data=nv_com_json["Co"])
nv_com_df['gb']=nv_com_df['gb'].astype('int')

nv_com_df2=nv_com_df[nv_com_df['gb']==701] # 주식인 경우만 추출



# -------- 상장법인목록(산업 정보 포함) : listed company
listed_comp=pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\상장법인목록.csv', dtype=str) # TODO 필요 시 경로 변경
listed_comp.columns=['corp_name', 'stock_code', 'industry', 'main_product','listed_date',  'settle_month', 'presid', 'hpage', 'region']
listed_comp['listed_date']=listed_comp['listed_date'].astype('datetime64')



# -------- KOSPI, KOSDAQ 시장 : kos_kdq (기존 파일은 코스피만 있던 관계로 수정)
# !!!!!!!!!!!주의 기존 KOS code csv 파일에서는 야후 코드를 stock_code라고 사용했으나 현재는 yh_code로 바뀌었음

kos=pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\KOSPI_220.csv', dtype={'단축코드':'str'}, encoding='euc-kr') # TODO 필요 시 경로 변경
kdq=pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\KOSDAQ_220.csv', dtype={'단축코드':'str'}, encoding='euc-kr') # TODO 필요 시 경로 변경

kos['상장일']=kos['상장일'].astype('datetime64')
kdq['상장일']=kdq['상장일'].astype('datetime64')

kos['yh_code']=kos['단축코드']+'.KS'
kdq['yh_code']=kdq['단축코드']+'.KQ'

kos_kdq=pd.concat([kos, kdq], axis=0, ignore_index=True)



#                   ==============
#                     데이터전처리
#                   ==============

# -------- kos_kdq 기업 이름 추출 하기
                # : 다른 데이터 프레임과 JOIN 하기 위함
# 구분 코드 만들기
#   : 종목명이나 종목약명은 단순히 보통주/우선주/전환 보다는 1P냐 1PB냐 등에 따라 규칙이 결정되는 경우가 많음
kos_kdq['구분']=kos_kdq['영문 종목명'].str.extract(f'([\(]\w*[\)])')



# 종목약명과 종목명에서 각각 기업 이름 추출하기
#   : 동일 기업도 종목명에서 추출한 이름과 종목약명에서 추출한 이름이 다른 경우 존재(ex. F&F홀딩스 vs 에프엔에프홀딩스)

# 1) 종목약명으로 가공
# 보통주
kos_kdq.loc[kos_kdq['주식종류']=='보통주', '회사명']=kos_kdq['한글 종목약명']
# 1P
kos_kdq.loc[kos_kdq['구분']=='(1P)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[1]?우$','','{}'.format(x)))
# 1PB, 2PB, 3PB
kos_kdq.loc[kos_kdq['구분']=='(1PB)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[1]?우B$','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(2PB)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[2]?우[B]?$','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(3PB)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[3]?우[B]?$','','{}'.format(x)))

# 3PC,4PC
kos_kdq.loc[kos_kdq['구분']=='(3PC)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[3]?우\(전환\)','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(3PC)', '회사명']=kos_kdq['회사명'].apply(lambda x : re.sub('[3]?우C','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(4PC)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[4]?우\(전환\)','','{}'.format(x)))

# 특수 케이스
kos_kdq['회사명']=kos_kdq['회사명'].replace('코리아써', '코리아써키트')
kos_kdq['회사명']=kos_kdq['회사명'].replace('E', 'E1')



# 2) 종목명으로 가공
# 보통주
kos_kdq.loc[kos_kdq['주식종류']=='보통주', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?보통주$','','{}'.format(x)))
# 1P
kos_kdq.loc[kos_kdq['구분']=='(1P)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[1]?우선주$','','{}'.format(x)))
# 1PB, 2PB, 3PB
kos_kdq.loc[kos_kdq['구분']=='(1PB)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[1]?우선주\(신형\)$','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(2PB)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[2]?우선주\(신형\)$','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(3PB)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[3]?우선주\(신형\)$','','{}'.format(x)))

# 3PC,4PC
kos_kdq.loc[kos_kdq['구분']=='(3PC)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[3]?우선주\(전환\)','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(4PC)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[4]?우선주\(전환\)','','{}'.format(x)))



#                   ==============
#                     프레임 병합
#                   ==============

# -------- 전체 데이터 프레임 병합
        # """
        # kos_kdq(코스피, 코스닥에 대한 정보와 우선주, 전환을 포함한 상장 기업 데이터프레임)  : 주식 코드 포함, 우선주 정보 포함, 기업명 포함X 대신 주식 한글 종목 명과 한글 종목 약명 포함.(ex. 네이버 우선주인 경우 네이버우) -> 기업명 추출 했음
        # listed_comp(기업 산업 정보를 포함한 상장 기업 데이터프레임)                       : 주식 코드 포함, 우선주 정보 없음, 기업명(corp_name) 포함
        # nv_com_df2(네이버 재무제표 주소에 접근할 수 있는 코드가 있는 기업 데이터프레임)     : 주식 코드 포함 X, 우선주 정보 없음, 기업명(nm) 포함
        # """

# 코드 설명:
# listed_comp, nv_com_df: 같은 기업이어도 corp_name, nm이 다르게 표현된 경우 존재(띄어쓰기가 다르거나 영어 문자를 한글로 표현한 경우 등)
# kos_kdq: 동일 기업이어도 한글 종목명에서 기업명을 추출하느냐 한글 종목약명에서 추출하느냐에 따라 추출된 기업명 다른 경우 존재



# -------- listed_comp + kos_kdq 병합 -> com_df

# 보통주인 경우 listed_comp의 stock_code와 kos_kdq의 단축코드 일치
com_df=pd.merge(listed_comp, kos_kdq[kos_kdq['주식종류']=='보통주'], how='inner', left_on= 'stock_code', right_on= '단축코드')

# 보통주가 아닌 경우 listed_comp에는 stock_code 정보 없음 -> 회사명을 이용해 join해주어야 함.
# lited_comp의 'corp_name'과 kos_kdq의 종목약명에서 추출한 '회사명'을 기준으로 inner join 해줌
com_df2=pd.merge(listed_comp, kos_kdq[kos_kdq['주식종류']!='보통주'], how='inner', left_on= 'corp_name', right_on= '회사명')
# kos_kdq의 종목약명에서 추출한 '회사명'을 기준으로 join했을 때 join되지 않은 것은 종목명에서 추출한 회사명2를 기준으로 join해줌
com_df3=pd.merge(listed_comp, kos_kdq[(kos_kdq['주식종류']!='보통주') & (kos_kdq['회사명']!=kos_kdq['회사명2'])], how='inner', left_on= 'corp_name', right_on= '회사명2')

# 상하병합
com_df=pd.concat([com_df, com_df2, com_df3], axis=0)

# 임시 df 삭제
del([com_df2, com_df3])



# -------- com_df + nv_com_df2 병합 -> com_df

# listed_comp의 corp_name == kos_kdq의 회사명 == kos_kdq의 회사명2 인 경우 아무 이름으로 nv_com_df와 join해줌
com_df4=pd.merge(nv_com_df2, com_df[(com_df['corp_name']==com_df['회사명']) & (com_df['corp_name']==com_df['회사명2'])], how='inner', left_on= 'nm', right_on= 'corp_name')

# 하나라도 일치하지 않는 경우 각각의 경우에 따라 nv_com_df와 join해줌
com_df5=pd.merge(nv_com_df2, com_df[(com_df['corp_name']!=com_df['회사명']) | (com_df['corp_name']!=com_df['회사명2'])], how='inner', left_on= 'nm', right_on= 'corp_name')
com_df6=pd.merge(nv_com_df2, com_df[(com_df['corp_name']!=com_df['회사명']) | (com_df['corp_name']!=com_df['회사명2'])], how='inner', left_on= 'nm', right_on= '회사명')
com_df7=pd.merge(nv_com_df2, com_df[(com_df['corp_name']!=com_df['회사명']) | (com_df['corp_name']!=com_df['회사명2'])], how='inner', left_on= 'nm', right_on= '회사명2')

# 상하병합
com_df=pd.concat([com_df4, com_df5, com_df6, com_df7], axis=0)

# 불필요한 부분 제거
com_df=com_df.drop_duplicates() # 중복 제거
com_df=com_df.drop(['gb', 'presid', 'region', '시장구분', '소속부', '구분', '회사명', '회사명2'], axis=1) # 내용이 중복되어도 기존 함수에서 사용하던 컬럼은 그대로 둠

# 임시 df 삭제
del([com_df4, com_df5, com_df6, com_df7])

#                   ==============
#                     데이터 저장
#                   ==============

com_df.to_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\com_df.csv', index=False)

In [687]:
# -------- kos_kdq 기업 이름 추출 하기

# 데이터 확인
# kos_kdq['주식종류'].value_counts()

# 구분 코드 만들기
kos_kdq['구분']=kos_kdq['영문 종목명'].str.extract(f'([\(]\w*[\)])')

# 구분 코드 확인
kos_kdq['구분'].value_counts()



# 종목약명으로 가공
# 보통주
kos_kdq.loc[kos_kdq['주식종류']=='보통주', '회사명']=kos_kdq['한글 종목약명']
# 1P
kos_kdq.loc[kos_kdq['구분']=='(1P)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[1]?우$','','{}'.format(x)))
# 1PB, 2PB, 3PB
kos_kdq.loc[kos_kdq['구분']=='(1PB)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[1]?우B$','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(2PB)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[2]?우[B]?$','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(3PB)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[3]?우[B]?$','','{}'.format(x)))

# 3PC,4PC
kos_kdq.loc[kos_kdq['구분']=='(3PC)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[3]?우\(전환\)','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(3PC)', '회사명']=kos_kdq['회사명'].apply(lambda x : re.sub('[3]?우C','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(4PC)', '회사명']=kos_kdq['한글 종목약명'].apply(lambda x : re.sub('[4]?우\(전환\)','','{}'.format(x)))

# 특수 케이스
kos_kdq['회사명']=kos_kdq['회사명'].replace('코리아써', '코리아써키트')
kos_kdq['회사명']=kos_kdq['회사명'].replace('E', 'E1')



# 종목명으로 가공
# 보통주
kos_kdq.loc[kos_kdq['주식종류']=='보통주', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?보통주$','','{}'.format(x)))
# 1P
kos_kdq.loc[kos_kdq['구분']=='(1P)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[1]?우선주$','','{}'.format(x)))
# 1PB, 2PB, 3PB
kos_kdq.loc[kos_kdq['구분']=='(1PB)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[1]?우선주\(신형\)$','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(2PB)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[2]?우선주\(신형\)$','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(3PB)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[3]?우선주\(신형\)$','','{}'.format(x)))

# 3PC,4PC
kos_kdq.loc[kos_kdq['구분']=='(3PC)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[3]?우선주\(전환\)','','{}'.format(x)))
kos_kdq.loc[kos_kdq['구분']=='(4PC)', '회사명2']=kos_kdq['한글 종목명'].apply(lambda x : re.sub('[ ]?[4]?우선주\(전환\)','','{}'.format(x)))


# 회사명과 회사명2 다른 경우 존재 -> 네이버 기업 리스트 기준 어떤 건 회사명과 일치하고 어떤 건 회사명2와 일치함

In [688]:
# -------- 전체 데이터 프레임 병합

# 데이터 프레임 병합
# kos_kdq(코스피, 코스닥에 대한 정보와 우선주, 전환을 포함한 상장 기업 데이터프레임)  : 주식 코드 포함, 우선주 정보 포함, 기업명 포함X 대신 주식 한글 종목 명과 한글 종목 약명 포함.(ex. 네이버 우선주인 경우 네이버우) -> 기업명 추출 했음
# listed_comp(기업 산업 정보를 포함한 상장 기업 데이터프레임)                       : 주식 코드 포함, 우선주 정보 없음, 기업명(corp_name) 포함
# nv_com_df2(네이버 재무제표 주소에 접근할 수 있는 코드가 있는 기업 데이터프레임)     : 주식 코드 포함 X, 우선주 정보 없음, 기업명(nm) 포함

# 코드 설명:
# listed_comp, nv_com_df: 같은 기업이어도 corp_name, nm이 다르게 표현된 경우 존재(띄어쓰기가 다르거나 영어 문자를 한글로 표현한 경우 등)
# kos_kdq: 동일 기업이어도 한글 종목명에서 기업명을 추출하느냐 한글 종목약명에서 추출하느냐에 따라 추출된 기업명 다른 경우 존재(영어를 한글로 표현한 경우 등)

# listed_comp + kos_kdq 병합
# 보통주인 경우 listed_comp의 stock_code와 kos_kdq의 단축코드 일치
com_df=pd.merge(listed_comp, kos_kdq[kos_kdq['주식종류']=='보통주'], how='inner', left_on= 'stock_code', right_on= '단축코드')

# 보통주가 아닌 경우 listed_comp에는 stock_code 정보 없음 -> 회사명을 이용해 join해주어야 함.
# lited_comp의 'corp_name'과 kos_kdq의 종목약명에서 추출한 '회사명'을 기준으로 inner join 해줌
com_df2=pd.merge(listed_comp, kos_kdq[kos_kdq['주식종류']!='보통주'], how='inner', left_on= 'corp_name', right_on= '회사명')
# kos_kdq의 종목약명에서 추출한 '회사명'을 기준으로 join했을 때 join되지 않은 것은 종목명에서 추출한 회사명2를 기준으로 join해줌
com_df3=pd.merge(listed_comp, kos_kdq[(kos_kdq['주식종류']!='보통주') & (kos_kdq['회사명']!=kos_kdq['회사명2'])], how='inner', left_on= 'corp_name', right_on= '회사명2')

# 상하병합
com_df=pd.concat([com_df, com_df2, com_df3], axis=0)

# 임시 df 삭제
del([com_df2, com_df3])


# listed_comp의 corp_name == kos_kdq의 회사명 == kos_kdq의 회사명2 인 경우 아무 이름으로 nv_com_df와 join해줌
com_df4=pd.merge(nv_com_df2, com_df[(com_df['corp_name']==com_df['회사명']) & (com_df['corp_name']==com_df['회사명2'])], how='inner', left_on= 'nm', right_on= 'corp_name')

# 하나라도 일치하지 않는 경우 각각의 경우에 따라 nv_com_df와 join해줌
com_df5=pd.merge(nv_com_df2, com_df[(com_df['corp_name']!=com_df['회사명']) | (com_df['corp_name']!=com_df['회사명2'])], how='inner', left_on= 'nm', right_on= 'corp_name')
com_df6=pd.merge(nv_com_df2, com_df[(com_df['corp_name']!=com_df['회사명']) | (com_df['corp_name']!=com_df['회사명2'])], how='inner', left_on= 'nm', right_on= '회사명')
com_df7=pd.merge(nv_com_df2, com_df[(com_df['corp_name']!=com_df['회사명']) | (com_df['corp_name']!=com_df['회사명2'])], how='inner', left_on= 'nm', right_on= '회사명2')

# 상하병합
com_df=pd.concat([com_df4, com_df5, com_df6, com_df7], axis=0)

# 불필요한 부분 제거
com_df=com_df.drop_duplicates() # 중복 제거
com_df=com_df.drop(['gb', 'presid', 'region', '시장구분', '소속부', '구분', '회사명', '회사명2'], axis=1) # 내용이 중복되어도 기존 함수에서 사용하던 컬럼은 그대로 둠


# 임시 df 삭제
del([com_df4, com_df5, com_df6, com_df7])

In [696]:
com_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2456 entries, 0 to 18
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cd            2456 non-null   object
 1   nm            2456 non-null   object
 2   corp_name     2456 non-null   object
 3   stock_code    2456 non-null   object
 4   industry      2456 non-null   object
 5   main_product  2446 non-null   object
 6   listed_date   2456 non-null   datetime64[ns]
 7   settle_month  2456 non-null   object
 8   hpage         2310 non-null   object
 9   표준코드          2456 non-null   object
 10  단축코드          2456 non-null   object
 11  한글 종목명        2456 non-null   object
 12  한글 종목약명       2456 non-null   object
 13  영문 종목명        2456 non-null   object
 14  상장일           2456 non-null   datetime64[ns]
 15  증권구분          2456 non-null   object
 16  주식종류          2456 non-null   object
 17  액면가           2456 non-null   object
 18  상장주식수         2456 non-null   int64
 19  yh_code       2456 non-null   object
dtypes: datetime64[ns](2), int64(1), object(17)
memory usage: 402.9+ KB

In [697]:
com_df=pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\com_df.csv', dtype={'stock_code':'str', '표준코드': 'str', '단축코드' : 'str'}, parse_dates=['listed_date', '상장일'] )
# com_df[['listed_date', '상장일']]=com_df[['listed_date', '상장일']].astype('datetime64')

In [699]:
com_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2456 entries, 0 to 2455
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cd            2456 non-null   object
 1   nm            2456 non-null   object
 2   corp_name     2456 non-null   object
 3   stock_code    2456 non-null   object
 4   industry      2456 non-null   object
 5   main_product  2446 non-null   object
 6   listed_date   2456 non-null   datetime64[ns]
 7   settle_month  2456 non-null   object
 8   hpage         2310 non-null   object
 9   표준코드          2456 non-null   object
 10  단축코드          2456 non-null   object
 11  한글 종목명        2456 non-null   object
 12  한글 종목약명       2456 non-null   object
 13  영문 종목명        2456 non-null   object
 14  상장일           2456 non-null   datetime64[ns]
 15  증권구분          2456 non-null   object
 16  주식종류          2456 non-null   object
 17  액면가           2456 non-null   object
 18  상장주식수         2456 non-null   int64
 19  yh_code       2456 non-null   object
dtypes: datetime64[ns](2), int64(1), object(17)
memory usage: 383.9+ KB

In [41]:
# inner join datetime 테스트
in_com_df=pd.merge(nv_com_df2, listed_comp, how='inner', left_on= 'nm', right_on= 'corp_name')
in_com_df['listed_date']=in_com_df['listed_date'].astype('datetime64')
in_com_df[in_com_df['listed_date']>'2022-01-01']

,cd,nm,gb,corp_name,stock_code,industry,main_product,listed_date,settle_month,presid,hpage,region
121,A373220,LG에너지솔루션,701,LG에너지솔루션,373220,일차전지 및 축전지 제조업,"2차전지 (소형,ESS,자동차전지)",2022-01-27,12월,권영수,NaN,서울특별시
311,A137080,나래나노텍,701,나래나노텍,137080,특수 목적용 기계 제조업,"디스플레이 장비 (포토, 코팅, 모듈 장비)",2022-02-08,12월,정좌진,http://www.naraenano.co.kr,경기도
1025,A276040,스코넥,701,스코넥,276040,소프트웨어 개발 및 공급업,"XR 교육/훈련 시스템, VR 게임 콘텐츠 등",2022-02-04,12월,황대실,http://www.skonec.com/,서울특별시
1141,A136410,아셈스,701,아셈스,136410,플라스틱제품 제조업,핫멜트 접착 필름,2022-02-07,12월,장지상,http://assems.com,부산광역시
1215,A179530,애드바이오텍,701,애드바이오텍,179530,의약품 제조업,"동물용약품,영양제,단미사료(네오폐녹스),보조사료 제조,도매/식품첨가물,화장품 도소매,무역",2022-01-24,12월,정홍걸,NaN,강원도
1441,A353590,오토앤,701,오토앤,353590,자동차 부품 및 내장품 판매업,자동차 지급품 및 애프터마켓 제품,2022-01-20,12월,최찬욱,http://www.auton.kr,경기도
1648,A377330,이지트로닉스,701,이지트로닉스,377330,"전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업",전력변환장치,2022-02-04,12월,강찬호,NaN,경기도
1670,A211050,인카금융서비스,701,인카금융서비스,211050,보험 및 연금관련 서비스업,보험 판매,2022-02-16,12월,최병채,http://www.incar.co.kr,서울특별시
1891,A102370,케이옥션,701,케이옥션,102370,상품 중개업,미술품 경매 및 판매,2022-01-24,12월,도현순,http://www.k-auction.com/,서울특별시
1935,A169670,코스텍시스템,701,코스텍시스템,169670,특수 목적용 기계 제조업,"반도체 웨이퍼 이송장비, 본딩장비",2022-01-21,12월,배준호,http://www.kosteks.com/,경기도

In [43]:
in_com_df['settle_month'].value_counts()

12월    2361
03월      20
06월      16
09월       6
02월       1
07월       1
08월       1
11월       1
Name: settle_month, dtype: int64

In [44]:
in_com_df[in_com_df['settle_month']=='11월']

,cd,nm,gb,corp_name,stock_code,industry,main_product,listed_date,settle_month,presid,hpage,region
2333,A004310,현대약품,701,현대약품,004310,의약품 제조업,"타코실, 마이녹실, 테놀민, 미에로화이바 등",1978-06-28,11월,이상준,http://www.hyundaipharm.co.kr,충청남도

In [22]:

    # TODO: 검색에서 기업 코드/이름 할당 받음
nm='LG에너지솔루션'

radar_label, radar_dict=relate_radar_data(corp_name=nm, yh_code=None, stock_code=None) # TODO: 검색에서 기업 코드/이름 할당 받음
# radar_dict=radar_dict[0].values()

In [23]:
table_list[1]

     매도상위        거래량      매수상위        거개량
0     NaN        NaN       NaN        NaN
1   홍콩상하이  1357440.0        한화  1365176.0
2      한화  1348415.0      이베스트  1168730.0
3    이베스트  1212871.0      한국증권   729929.0
4    한국증권   738504.0      키움증권   673226.0
5  NH투자증권   624350.0    NH투자증권   648739.0
6  외국계추정합  1357440.0  -1009641   347799.0

In [ ]:

corp_name='카카오'
gcode=nm_to_bs_gicode(corp_name)

url = f"http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?NewMenuID=103&gicode={gcode}"

table_list = pd.read_html(url, encoding='UTF-8')
new_table_list = []
# print(len(table_list))
# print(table_list[0].head())

# 항목에서 불필요한 부분 제거('계산에 참여한 계정 펼치기')
for tbl in table_list:
    for i, idx in enumerate(tbl.iloc[:,0]):
        m = idx.replace('계산에 참여한 계정 펼치기','')
        tbl.iloc[i, 0] = m
    new_table_list.append(tbl)

new_table_list[1]

In [ ]:
bs_craw(corp_name='삼성전자', kind=2)

In [ ]:
radar_label

In [ ]:


math.isnan(radar_dict[0]['LG에너지솔루션'][4])

In [ ]:
radar_dict

In [ ]:
radar_dict[0]

In [ ]:
def radar_chart(corp_name=None, yh_code=None, stock_code=None):
        # 0. 주식 코드로 변환
    gcode = 0
    if corp_name != None:
        gcode = nm_to_fn_gicode(corp_name)
    elif stock_code != None:
        gcode = stock_code
        
    dict_list=relate_radar_data(stock_code=gcode)
    dict_list=[x for x in dict_list if x is not None]

In [ ]:
# 0. 주식 코드로 변환
nm = 'LG에너지솔루션'
gcode = nm_to_fn_gicode(corp_name)

sil_df = fn_craw(stock_code=gcode, kind=3)
bs_df = quick_bs_craw(stock_code=gcode, kind=1)
bs_df_q = bs_df.iloc[:,4]
bs_df_y = bs_df.iloc[:,1]
bs_df_r = quick_bs_craw(stock_code=gcode, kind=2).iloc[:,3]

if sil_df.iloc[0:3, 2].isna().sum() > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
    pass
if sil_df.iloc[0, 2]==0:
    pass

else:
    # 0. 재무정보는 최신 분기 실공시 기준
    # 0. 단, 배당은 1년에 한 번 이루어지기 때문에 최신 년도 공시 기준임
    sil_df_y = sil_df['최근 연간 실적'].iloc[:, 3]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
    sil_df_q = sil_df['최근 분기 실적'].iloc[:, 4]


    if sil_df_y.dtype == 'O':
    # sil_df_y=sil_df_y.fillna(0)
        sil_df_y=sil_df_y.apply(lambda x : re.sub('^-$', '0', '{}'.format(x))).astype('float')
    
    if sil_df_y.isna().sum()>0:
        sil_df_y=sil_df_y.apply(lambda x : 0 if math.isnan(x) else x)
        # sil_df_y[(sil_df_y.str.len() == 1) & (sil_df_y.values == '-')] = 0
        # sil_df_y = sil_df_y.astype('float')


    # 1. 배당성향(bd_tend)
    bd_tend = sil_df_y[15]  # 실제 배당 성향

    # 2. 유동성 분석 - 당좌비율(당좌자산/유동부채)
    #                       당좌자산 = (유동자산 - 재고자산)
    dj_rate = sil_df_q[7]  # 당좌비율

    # 3. 재무건전성 분석 - 부채비율(총부채/자기자본)의 역수
    bch_rate = sil_df_q[6]/100  # 부채비율
    bch_rate=round((1/bch_rate)*100, 2)

    # nv_df
    # 4. 수익성 분석 - 매출수익성(당기순이익/매출액) # TODO 매출액 0인 애들은?
    dg_bene_q = bs_df_q[15]
    mch = bs_df_q[0]

    suyk = round((dg_bene_q / mch) * 100, 2)

    # nv_df + fn_df
    # 5. 성장성 분석 - 순이익성장률(지속성장 가능률)
    # (1-배당성향)*자기자본순이익률(ROE)
    #    유보율
    dg_bene_y = bs_df_y[15]
    my_cap = bs_df_r[9]
    roe = dg_bene_y/my_cap

    ubo = (100 - bd_tend) / 100
    grth = round(roe * ubo * 100, 2)

    data_list = [bd_tend, dj_rate, bch_rate, suyk, grth]
    data_dict = {nm: data_list}

    print(data_dict)

In [ ]:
relate_radar_data(corp_name='LG에너지솔루션')

In [ ]:
nm = 'SK아이이테크놀로지'
gcode = nm_to_fn_gicode(corp_name)

sil_df = fn_craw(stock_code=gcode, kind=3)    
sil_df_y = sil_df['최근 연간 실적'].iloc[:, 3]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
sil_df_q = sil_df['최근 분기 실적'].iloc[:, 4]


if sil_df_y.dtype == 'O':
    # sil_df_y=sil_df_y.fillna(0)
    sil_df_y=sil_df_y.apply(lambda x : re.sub('^-$', '0', '{}'.format(x))).astype('float')
if sil_df_y.isna().sum()>0:
    sil_df_y=sil_df_y.apply(lambda x : 0 if math.isnan(x) else x)

sil_df_y

# # 1. 배당성향(bd_tend)
# bd_tend = sil_df_y[15]

In [ ]:
math.isnan(sil_df_y[6])

In [ ]:
sil_df

In [ ]:
sil_df

In [ ]:
corp_name='한화시스템'
if corp_name != None:
    gcode = nm_to_fn_gicode(corp_name)
    nm = corp_name
elif stock_code != None:
    gcode = stock_code
    nm = stc_code_to_nm(stock_code)

sil_df = fn_craw(stock_code=gcode, kind=3)


if (sil_df.iloc[0:8, 3].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
    pass
if (sil_df.iloc[0:8, 9].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
    pass

else:
    # 0. 재무정보는 최신 분기 실공시 기준
    # 0. 단, 배당은 1년에 한 번 이루어지기 때문에 최신 년도 공시 기준임
    sil_df_y = sil_df['최근 연간 실적'].iloc[:, 3]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
    sil_df_q = sil_df['최근 분기 실적'].iloc[:, 4]

    
    sil_df_y=sil_df_y.fillna(0)
    sil_df_q=sil_df_q.fillna(0)
    
    if sil_df_y.dtype == 'O':
        sil_df_y[(sil_df_y.str.len() == 1) & (sil_df_y.values == '-')] = 0
        sil_df_y = sil_df_y.astype('float')

    if sil_df_q.dtype == 'O':
        sil_df_q[(sil_df_q.str.len() == 1) & (sil_df_q.values == '-')] = 0
        sil_df_q = sil_df_q.astype('float')


    # 1. 배당성향(bd_tend)
    bd_tend = sil_df_y[15]  # 실제 배당 성향

    # 2. 유동성 분석 - 당좌비율(당좌자산/유동부채)
    #                       당좌자산 = (유동자산 - 재고자산)
    dj_rate = sil_df_q[7]  # 당좌비율

    # 3. 재무건전성 분석 - 부채비율(총부채/자기자본)의 역수
    bch_rate = sil_df_q[6]/100  # 부채비율
    bch_rate=(1/bch_rate)*100

    # 4. 수익성 분석 - 매출수익성(당기순이익/매출액) # TODO 매출액 0인 애들은?

    dg_bene = sil_df_q[2]
    mch = sil_df_q[0]

    suyk = round((dg_bene / mch) * 100, 2)

    # 5. 성장성 분석 - 순이익성장률(지속성장 가능률)
    # (1-배당성향)*자기자본순이익률(ROE)
    #    유보율

    roe = sil_df_y[5] / 100
    ubo = (100 - bd_tend) / 100
    grth = round(roe * ubo * 100, 2)

    data_list = [bd_tend, dj_rate, bch_rate, suyk, grth]
    data_dict = {nm: data_list}

    print(data_dict)

In [ ]:
relate_radar_data('한화시스템')

In [ ]:
bs_df=bs_craw(corp_name='삼성전자', kind=1)
bs_df

In [ ]:
label_list=bs_df.columns[1:6]
label_list

In [ ]:
bs_df.loc[0, label_list ]

In [ ]:
corp_name='삼성전자'
gcode = nm_to_fn_gicode(corp_name)
nm = corp_name
    
bs_df=bs_craw(stock_code=gcode, kind=1)
label_list=bs_df.columns[1:6].tolist() # 네 분기 + 전년동기
mch_list=bs_df.loc[0, label_list].tolist() # 매출액
dg_list=bs_df.loc[15, label_list].tolist() # 당기순이익

print(label_list, mch_list, dg_list)

In [ ]:
# -------- 네이버 company list : nv_com_df
url = "http://comp.fnguide.com/XML/Market/CompanyList.txt"

nv_com_res = requests.get(url)
nv_com_res.encoding = "utf-8-sig"  # # ISO-8859-1

nv_com_json = json.loads(nv_com_res.text)

nv_com_df = pd.DataFrame(data=nv_com_json["Co"])
nv_com_df['gb']=nv_com_df['gb'].astype('int')


# TODO(csv 파일 가져올 경로 설정)
# -------- 상장법인목록(산업 정보 포함) : listed company
listed_comp=pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\industry\\상장법인목록.csv', dtype=str)
listed_comp.columns=['corp_name', 'stock_code', 'industry']

# -------- 기업별 산업 코드
uj_to_pj = pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\industry\\국세청업종코드_표준산업분류.csv', dtype=str)
pj_to_grc = pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\industry\\표준산업_GRC코드.csv', dtype=str)

listed_comp.info()
uj_to_pj
# pj_to_grc





# TODO(상대 목록에 없는 기업 어떻게 처리할 것인가)
# -------- OUTER JOIN (네이버 company list 상장법인목록(산업 정보 포함))
# nv_com_df2=nv_com_df[nv_com_df['gb']==701]
# # nv_com_df2.info()
# com_df=pd.merge(nv_com_df2, listed_comp, how='outer', left_on= 'nm', right_on= 'corp_name')

In [ ]:
listed_comp[listed_comp['corp_name']=='전방']

In [ ]:
uj_to_pj.columns=['소분류', 'industry', '세분류', '세분류.1']

In [ ]:
pd.merge(listed_comp, uj_to_pj, how='inner', on='industry')

In [ ]:
listed_comp.join(uj_to_pj, how='inner', on='industry')

In [ ]:
listed_comp.shape

In [ ]:
uj_to_pj.shape

In [ ]:
listed_comp['industry'].value_counts().sort_index()

In [ ]:
uj_to_pj['industry'].value_counts().sort_index()