In [7]:
# ====================================================
#                       패키지
# ====================================================
# -------- data
import pandas as pd
import numpy as np

import sqlalchemy as sa

# -------- str
import re
# -------- date
from datetime import datetime, date
# -------- float
import math

# -------- craw
from bs4 import BeautifulSoup  # 클래스라 생성자 만들어야 함
import requests

# -------- flask
from flask import Flask, make_response, jsonify, request, render_template
from flask_cors import CORS, cross_origin
import json

# -------- API
import yfinance

# --------
# ====================================================
#                      기본 설정
# ====================================================

# sql 이름과 비밀번호 수정 필요
engine = sa.create_engine('oracle://ai:1111@localhost:1521/XE')
conn = engine.connect()
conn.close()  # TODO 사용 후 close 해주기
# ----------------------------------------------------

# ====================================================
#                       함  수
# ====================================================

"""
# 변수 설명
# 크롤링 데이터 : nm(회사명), cd(네이버에서 사용하는 회사 코드)
# 상장 기업 리스트 : corp_name(회사명), stock_code(종목코드), industry(업종), main_product(주요제품), listed_date(상장일), settle_mont(	결산월), pres(대표자명), hpage(홈페이지), region(지역)
# 야후 파이낸스 : yh_code
"""


#                   ==============
#                      업종 분류
#                   ==============
# -------- 동일 업종 기업 출력
# TODO(미완성) 동일 업종 선택
def select_same_industry(corp_name):
    indus = com_df[com_df['nm'] == corp_name]['industry'].values[0]  # TODO(df 확인)

    # print(com_df.groupby(by='industry')['nm'].nunique().max()) # 동종업계 최대 151개 -> 151개 재무제표 크롤링?

    list_com = com_df[com_df['industry'] == indus]['corp_name'].values.tolist()
    return list_com


#  -------- 네이버증권 연관기업 코드(hjh)
def relate_code_crawl(co):
    # 연관 종목코드 있는 페이지 불러오기
    url = 'https://finance.naver.com/item/main.naver?code=' + str(co)
    page = pd.read_html(url, encoding='CP949')
    # 연관 종목명과 종목코드 뽑아내기(code_list[0]은 '종목명'이어서 제외)
    code_list = page[4].columns.tolist()
    code_list = code_list[1:]
    # 종목코드 리스트 반환
    codes = []
    for word in (code_list):
        codes.append(word[-6:])
    # print(codes)
    return codes


# relate_code_crawl('000660')


#                   ==============
#                  기업 이름 코드 변환
#                   ==============

# -------- 우선주/전환주 -> 보통주 코드 변환
# 220221 수정(함수 추가)
def ori_code(stock_code):
    gi = com_df[com_df['stock_code']== stock_code]['stock_code_ori']
    gi = gi.values[0]
    return gi

# -------- 네이버 재무제표 크롤링 용 gicode로 변환
def nm_to_bs_gicode(corp_name):
    gi = com_df[com_df['nm'] == corp_name]['cd']
    gi = gi.values[0]
    return gi


def stc_code_to_bs_gicode(stock_code):
    gi = com_df[com_df['stock_code'] == stock_code]['cd']
    gi = gi.values[0]
    return gi


def yh_code_to_bs_gicode(yh_code):
    gi = com_df[com_df['yh_code'] == yhcode]['cd']
    gi = gi.values[0]
    return gi


# -------- 네이버 금융 크롤링 용 gicode로 변환
def nm_to_fn_gicode(corp_name):
    gi = com_df[com_df['nm'] == corp_name]['stock_code']
    gi = gi.values[0]
    return gi


def yh_code_to_fn_gicode(yh_code):
    gi = com_df[com_df['yh_code'] == yh_code]['stock_code']
    gi = gi.values[0]
    return gi


# -------- 코드를 기업이름으로 변환
def stc_code_to_nm(stock_code):
    gi = com_df[com_df['stock_code'] == stock_code]['nm']
    gi = gi.values[0]
    return gi


def yh_code_to_nm(yh_code):
    gi = com_df[com_df['yh_code'] == yh_code]['nm']
    gi = gi.values[0]
    return gi


#                   ==============
#                     데이터 수집
#                   ==============


# -------- Balance Sheets API call
# def bs_api(corp_name=None, yh_code=None, stock_code=None):
#     print('haha')


# -------- Balance Sheets Crawling(재무제표 크롤링)
# 220220 수정
# 1) 매개변수 stock_code로 축약
# 2) kind로 특정 테이블 지정하는 대신 데이터프레임 리스트 전체 반환
# 3) '~계산에 참여한 계정 펼치기' 제거는 선택사항으로 둠

def bs_craw(stock_code, clear_name=False):  # ------- 검색과 연동해서 입력 변수 설정
    """
    # kind
        : 0 (연간 포괄손익계산서),  1 (분기별 포괄손익계산서)
          2 (연간 재무상태표),     3 (분기별 재무상태표)
          4 (연간 현금흐름표),     5 (분기별 현금프름표)
    """

    # ------- 검색과 연동해서 입력되는 변수 따라 gicode(네이버에서 분류하는 기업 코드)로 변환
    gcode = stc_code_to_bs_gicode(stock_code)

    url = f"http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?NewMenuID=103&gicode={gcode}"

    table_list = pd.read_html(url, encoding='UTF-8')

    # 항목에서 불필요한 부분 제거('계산에 참여한 계정 펼치기')
    if clear_name == False:
        return table_list

    else:
        new_table_list = []
        for tbl in table_list:
            for i, idx in enumerate(tbl.iloc[:, 0]):
                m = idx.replace('계산에 참여한 계정 펼치기', '')
                tbl.iloc[i, 0] = m
            new_table_list.append(tbl)
        return new_table_list


# ------- 네이버 금융
# 220220 수정
# 1) 매개변수 stock_code로 축약
# 2) kind로 특정 테이블 지정하는 대신 데이터프레임 리스트 전체 반환
def fn_craw(stock_code):
    """
       # kind
           : 0 (전일&당일 상한가, 하한가, 거래량 등) #TODO 가공 필요
             1 (증권사 별 매도 매수 정보) #TODO 가공 필요(컬럼이름)
             2 (외국인, 기관 거래 정보) #TODO 가공 필요
             3 (기업실적분석(연도별 분기별 주요재무 정보)) #TODO 가공 필요?
             4 (동일업종비교) #TODO 가공 필요?
             5 (시가총액, 주식수, 액면가 정보) #TODO 가공 필요
             6 (외국인 주식 한도, 보유 정보)
             7 (목표주가 정보) #TODO 가공 필요
             8 (PER, PBR 배당수익률 정보) (주가 따라 변동) #TODO 가공 필요
             9 (동일업종 PER, 등락률 정보) #TODO 가공 필요
             10 (호가 10단계)
             11 (인기 검색 종목: 코스피) #TODO 가공 필요
             12 (인기 검색 종목: 코스닥) #TODO 가공 필요
       """

    gcode = str(stock_code)

    url = f"https://finance.naver.com/item/main.naver?code={gcode}"
    table_list = pd.read_html(url, encoding='euc-kr')

    return table_list


#                   ==============
#                      지표 선정
#                   ==============

# -------- 지표 선정
# 220220 수정
# 1) 매개변수 stock_code로 축약
# 2) 데이터프레임 하나가 아닌 리스트로 받아오기때문에 kind 제거하고 직접 선택해줌
# 3) sli_df_y, sil_df_q 에서 '-' 가공 시 if 조건에 따라 처리하는 대신 lambda와 re.sub 이용
# 4) dict 대신 array로 반환, 기업 이름(nm도 반환)
def idv_radar_data(stock_code):
    """
    # <지표 설명>
    # 1. 배당 분석                      -> 배당성향(배당 커버리지의 역수.)
    # 2. 유동성 분석(단기채무지급능력)    -> 당좌비율(당좌자산 / 유동부채)
    # 3. 재무건전성 분석(레버리지 비율)   -> 부채비율(총부채 / 자기자본)의 역수
    # 4. 수익성분석                      -> 매출수익성(당기순이익/매출액))
    # 5. 성장성분석                      -> 순이익성장률
    """

    gcode = stock_code
    nm = stc_code_to_nm(stock_code)

    sil_df = fn_craw(gcode)[3]  # 3: 기업실적정보 재무제표 (220220 수정)

    if (sil_df.iloc[0:8, 3].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass
    elif (sil_df.iloc[0:8, 9].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass


    else:
        # 0. 재무정보는 최신 분기 실공시 기준
        # 0. 단, 배당은 1년에 한 번 이루어지기 때문에 최신 년도 공시 기준임
        sil_df_y = sil_df['최근 연간 실적'].iloc[:, 2]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
        sil_df_q = sil_df['최근 분기 실적'].iloc[:, 4]

        sil_df_y = sil_df_y.fillna(0)
        sil_df_q = sil_df_q.fillna(0)

        if sil_df_y.dtype == 'O':
            sil_df_y = sil_df_y.apply(lambda x: re.sub('^-$', '0', '{}'.format(x)))
            sil_df_y = sil_df_y.astype('float')

        if sil_df_q.dtype == 'O':
            sil_df_q = sil_df_q.apply(lambda x: re.sub('^-$', '0', '{}'.format(x)))
            sil_df_q = sil_df_q.astype('float')

        # 1. 배당성향(bd_tend)
        bd_tend = sil_df_y[15]  # 실제 배당 성향

        # 2. 유동성 분석 - 당좌비율(당좌자산/유동부채)
        #                       당좌자산 = (유동자산 - 재고자산)
        dj_rate = sil_df_q[7]  # 당좌비율

        # 3. 재무건전성 분석 - 부채비율(총부채/자기자본)의 역수
        bch_rate = sil_df_q[6] / 100  # 부채비율
        bch_rate = round((1 / bch_rate) * 100, 2)

        # 4. 수익성 분석 - 매출수익성(당기순이익/매출액) # TODO 매출액 0인 애들은?

        dg_bene = sil_df_q[2]
        mch = sil_df_q[0]

        suyk = round((dg_bene / mch) * 100, 2)

        # 5. 성장성 분석 - 순이익성장률(지속성장 가능률)
        # (1-배당성향)*자기자본순이익률(ROE)
        #    유보율

        roe = sil_df_y[5] / 100
        ubo = (100 - bd_tend) / 100
        grth = round(roe * ubo * 100, 2)

        data_arr = np.array([bd_tend, dj_rate, bch_rate, suyk, grth])

        return data_arr, nm


# -------- 관련 기업 지표 선정(상대적 비율 기준)
# 220220 수정
# 1) 매개변수 stock_code로 축약
# 2) dict 대신 array로 반환, 기업 이름(nm도 반환)
def relate_radar_data(stock_code):
    label_list = ['배당성향', '유동성', '건전성', '수익성', '성장성']
    arr_list = []

    # 주식 코드,이름으로 변환

    gcode = stock_code

    relate_corp = relate_code_crawl(co=gcode)

    arr_list = [idv_radar_data(stock_code=stcd) for stcd in relate_corp]
    nm_list = [x[1] for x in arr_list if x is not None]
    arr_list = [x[0] for x in arr_list if x is not None]

    arr_list = np.array(arr_list)

    arr_list[:, 0] = (arr_list[:, 0] / arr_list[:, 0].mean()) * 100
    arr_list[:, 1] = (arr_list[:, 1] / arr_list[:, 1].mean()) * 100
    arr_list[:, 2] = (arr_list[:, 2] / arr_list[:, 2].mean()) * 100
    arr_list[:, 3] = (arr_list[:, 3] / arr_list[:, 3].mean()) * 100
    arr_list[:, 4] = (arr_list[:, 4] / arr_list[:, 4].mean()) * 100

    dict_list = []

    for i, nm in enumerate(nm_list):
        dic = {}
        dic[nm] = arr_list[i, :].tolist()
        dict_list.append(dic)

    return label_list, dict_list


# -------- 관련 기업 지표 선정(원본)

# def relate_radar_data(yh_code=None, corp_name=None, stock_code=None):
#     label_list=['배당성향', '유동성', '건전성', '수익성', '성장성']
#     dict_list = []
#
#     # 주식 코드로 변환
#     gcode = 0
#     if yh_code != None:
#         gcode = yh_code_to_fn_gicode(yh_code)
#     elif corp_name != None:
#         gcode = nm_to_fn_gicode(corp_name)
#     elif stock_code != None:
#         gcode = stock_code
#
#     relate_corp = relate_code_crawl(co=gcode)
#
#     dict_list = [idv_radar_data(stock_code=stcd) for stcd in relate_corp]
#
#     dict_list = [x for x in dict_list if x is not None]
#
#
#     return label_list, dict_list


#                   ==============
#                       시각화
#                   ==============

# -------- 매출, 당기순이익 추이 그래프
# 220220 수정
# 1) 매개변수 stock_code로 축약
# 2) 크롤링한 데이터는 list로 받아오므로 kind 없애고 직접 인덱스 처리

def mch_dg(stock_code):
    gcode = stock_code
    nm = stc_code_to_nm(stock_code)

    bs_df = bs_craw(stock_code=gcode)[0]
    label_list = bs_df.columns[1:6].tolist()  # 네 분기 + 전년동기
    mch_list = bs_df.loc[0, label_list].tolist()  # 매출액
    dg_list = bs_df.loc[15, label_list].tolist()  # 당기순이익

    return label_list, mch_list, dg_list



# -------- 날씨 그래프



# -------- BS TABLE (재무상태표 필요 없다 ^^)
# def bs_table(corp_name=None, yh_code=None, stock_code=None):
#     df=bs_craw(corp_name=cor_name, yh_code=yh_code, stock_code=stock_code, kind=1)
#     df
#     """
#     # kind
#         : 0 (연간 포괄손익계산서),  1 (분기별 포괄손익계산서)
#           2 (연간 재무상태표),     3 (분기별 재무상태표)
#           4 (연간 현금흐름표),     5 (분기별 현금프름표)
#     """


# tot_list = []
# print(box_list)
#
# for box in box_list:
#     print(box)
#     for item in box:
#         title = box.select_one('th > div').text
#         print(item)
# list=[]
# price1 = box.select_one("th > div").text
# price2 = box.select_one("").text
#
# list.append(price1)
# list.append(price2)
#
# tot_list.append(list)

# 프레임 만드는 게 주 목적이면 df=pd.DataFrame(data=tot_list) 하고 return df
# df = pd.DataFrame(data=tot_list)
# return tot_list  # [[],[],[]]


# ====================================================
#                      데이터
# ====================================================

# -------- 병합 파일 불러오기
com_df = pd.read_csv('C:\\AI\\pythonProject\\venv\\project\\dashboard\\data\\com_df.csv',
                     dtype={'stock_code': 'str', '표준코드': 'str', '단축코드': 'str', 'stock_code_ori':'str'},
                     parse_dates=['listed_date', '상장일'])

# -------- 기업별 산업 코드


# ====================================================
#                  함수 호출(test)
# ====================================================

# df=bs_craw(corp_name='삼성전자', kind=0)
# print(df)
# select_same_industry('삼성전자')

In [43]:
table_list=fn_craw(stock_code='005380')

In [44]:
table_list[0]

,0,1,2
0,"전일 183,500 183,500","고가 185,500185,500 (상한가 238,500238,500 )","거래량 460,648 460,648"
1,"시가 180,500180,500","저가 179,500179,500 (하한가 128,500 )","거래대금 84,290 84,290 백만"

In [45]:
table_list[1] # 거래원 정보

     매도상위      거래량    매수상위      거개량
0     NaN      NaN     NaN      NaN
1      한화  68792.0    CLSA  96626.0
2  신한금융투자  47977.0      한화  62851.0
3  미래에셋대우  37904.0  미래에셋대우  40175.0
4    키움증권  35146.0    KB증권  35577.0
5    KB증권  34850.0  신한금융투자  32374.0
6  외국계추정합   8502.0  +90687  99189.0

In [46]:
table_list[2] # 외국인. 기관

      날짜        종가        전일비       외국인       기관
0    NaN       NaN        NaN       NaN      NaN
1  02/21  185000.0  상향  1,500   32972.0  34097.0
2  02/18  183500.0         보합   11769.0 -24642.0
3  02/17  183500.0  상향  1,500   71511.0  60073.0
4  02/16  182000.0  상향  1,500 -112589.0   6006.0
5  02/15  180500.0  상향  4,000  134038.0  75092.0
6  02/14  176500.0  하향  6,500 -307907.0 -92073.0
7    NaN       NaN        NaN       NaN      NaN

In [47]:
table_list[3] # 기업실적분석 (연도별, 분기별 주요재무정보 비교)

       주요재무정보   최근 연간 실적                                       최근 분기 실적  \
       주요재무정보    2018.12     2019.12     2020.12  2021.12(E)    2020.09
       주요재무정보     IFRS연결      IFRS연결      IFRS연결      IFRS연결     IFRS연결
0         매출액  968126.00  1057464.00  1039976.00  1171171.00  275758.00
1        영업이익   24222.00    36055.00    23947.00    69499.00   -3138.00
2       당기순이익   16450.00    31856.00    19246.00    65926.00   -1888.00
3       영업이익률       2.50        3.41        2.30        5.93      -1.14
4        순이익률       1.70        3.01        1.85        5.63      -0.69
5   ROE(지배주주)       2.20        4.32        2.04        8.14       1.67
6        부채비율     144.47      154.71      174.22         NaN     173.03
7        당좌비율      52.21       46.57       44.87         NaN      46.45
8         유보율    4747.59     4865.48     4909.48         NaN    4834.25
9      EPS(원)    5352.00    10761.00     5144.00    21201.00   -1213.00
10     PER(배)      22.14       11.20       37.33        9.43      42.65
11     BPS(원)  256422.00   267549.00   266968.00   288909.00  265325.00
12     PBR(배)       0.46        0.45        0.72        0.69       0.67
13   주당배당금(원)    4000.00     4000.00     3000.00     4201.00        NaN
14   시가배당률(%)       3.38        3.32        1.56         NaN        NaN
15    배당성향(%)      70.70       35.35       55.15         NaN        NaN


      2020.12    2021.03    2021.06    2021.09 2021.12(E)
       IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
0   292434.00  273909.00  303261.00  288672.00  306325.00
1    12544.00   16566.00   18860.00   16067.00   17991.00
2    11834.00   15222.00   19826.00   14869.00   15315.00
3        4.29       6.05       6.22       5.57       5.87
4        4.05       5.56       6.54       5.15       5.00
5        2.04       3.27       5.37       7.60        NaN
6      174.22     178.82     178.15     180.78        NaN
7       44.87      45.58      49.92      50.30        NaN
8     4909.48    4938.89    5062.38    5133.86        NaN
9     3863.00    4793.00    6362.00    4717.00    5298.00
10      37.33      26.38      17.35      10.13      37.75
11  266968.00  271275.00  279427.00  286707.00  288909.00
12       0.72       0.80       0.86       0.70       0.69
13        NaN        NaN        NaN        NaN        NaN
14        NaN        NaN        NaN        NaN        NaN
15        NaN        NaN        NaN        NaN        NaN

In [48]:
# 동일업종비교
table_list[4]

           종목명  현대차*005380   기아*000270 에디슨EV*136510 쌍용차*003620 엘브이엠씨홀딩스*900140
0          현재가      185000       78900        27350       2770            3225
1         전일대비   상향  1,500     상향  200    상향  1,850        보합0          하향  40
2          등락률  상향  +0.82%  상향  +0.25%   상향  +7.25%      0.00%      하향  -1.23%
3      시가총액(억)      395286      319831         7905       4150            3207
4     외국인비율(%)       27.40       35.30          .41      76.58           16.56
5       매출액(억)      288672      177528           98       6298             399
6      영업이익(억)       16067       13270            0       -601             -91
7    조정영업이익(억)       16067       13270            0       -601             -91
8   영업이익증가율(%)      -14.81      -10.77      -112.05      35.53         -853.76
9     당기순이익(억)       14869       11347          -12       -593             -88
10    주당순이익(원)     4716.96     2799.21       -43.07    -395.72          -75.87
11      ROE(%)        7.60       14.24       -33.22   -1842.43           -7.13
12      PER(%)        9.37        7.15       -68.72       -.94          -10.71
13      PBR(배)         .65         .94        20.57      -8.25             .75

In [49]:
# 투자정보 시가총액, 시가총액순위, 상장주식수, 액면가, 매매단위
table_list[5]

          0               1
0      시가총액  39조  5,286  억원
1    시가총액순위          코스피 9위
2     상장주식수       213668187
3  액면가l매매단위   5,000원  l  1주

In [50]:
# 외국인 주식
table_list[6]

             0          1
0  외국인한도주식수(A)  213668187
1  외국인보유주식수(B)   58546658
2  외국인소진율(B/A)     27.40%

In [51]:
# 투자의견, 목표주가
table_list[7]

           0                    1
0  투자의견l목표주가   4.00매수  l  286,250
1   52주최고l최저  249,000  l  176,000

In [52]:
# PER, PBR, 배당수익률
table_list[8]

                   0                   1
0   PERlEPS(2021.09)   9.37배  l  19,734원
1          추정PERlEPS   8.00배  l  23,524원
2  PBRlBPS (2021.09)  0.65배  l  286,707원
3      배당수익률l2021.12               2.70%

In [53]:
# 동일업종
table_list[9]

          0       1
0  동일업종 PER   7.69배
1  동일업종 등락률  +0.55%

In [54]:
# 호가 10단계
table_list[10]

       매도잔량 호가(20분지연)     매수잔량
0       NaN       NaN      NaN
1    1917.0    189500      NaN
2    5664.0    189000      NaN
3    2254.0    188500      NaN
4    8012.0    188000      NaN
5    7457.0    187500      NaN
6   13791.0    187000      NaN
7   15317.0    186500      NaN
8   16848.0    186000      NaN
9   21680.0    185500      NaN
10    516.0    185000      NaN
11      NaN       NaN      NaN
12      NaN    184500  10286.0
13      NaN    184000  11110.0
14      NaN    183500  10379.0
15      NaN    183000   6913.0
16      NaN    182500   6451.0
17      NaN    182000   9113.0
18      NaN    181500   4554.0
19      NaN    181000   5572.0
20      NaN    180500   6661.0
21      NaN    180000  18346.0
22      NaN       NaN      NaN
23  93456.0      잔량합계  89385.0

In [55]:
# 인기검색종목 코스피
table_list[11]

             업체명       거래량        전일비
0           삼성전자   74200.0    하향  100
1            카카오   93200.0  상향  1,800
2         한국조선해양   84000.0         보합
3         코오롱인더우   30500.0    상향  500
4           유한양행   56600.0    상향  100
5            NaN       NaN        NaN
6   ARIRANG 고배..   12980.0     하향  85
7          엔씨소프트  484000.0  하향  8,500
8         SK하이닉스  130000.0  하향  1,500
9         DL이앤씨우   67000.0  상향  1,100
10    HDC현대산업개..   15600.0         보합

In [56]:
# 인기검색종목 코스닥
table_list[12]

         업체명      거래량        전일비
0        테스나  47450.0         보합
1     녹십자엠에스   9690.0    상향  540
2   서플러스글로..   4400.0     상향  35
3       동원개발   4835.0      상향  5
4      엔젠바이오  11600.0    하향  100
5        NaN      NaN        NaN
6       네오펙트   2880.0      하향  5
7   바이오에프디..  22200.0  하향  3,000
8      패션플랫폼   2195.0     상향  55
9   메가스터디교..  84600.0  상향  1,400
10        웹스   5520.0    하향  240

In [62]:
def idv_radar_weather_data(stock_code):
    """
    # <지표 설명>
    # 1. 배당 분석                      -> 배당성향(배당 커버리지의 역수.)
    # 2. 유동성 분석(단기채무지급능력)    -> 당좌비율(당좌자산 / 유동부채)
    # 3. 재무건전성 분석(레버리지 비율)   -> 부채비율(총부채 / 자기자본)의 역수
    # 4. 수익성분석                      -> 매출수익성(당기순이익/매출액))
    # 5. 성장성분석                      -> 순이익성장률
    """

    gcode = stock_code
    nm = stc_code_to_nm(stock_code)

    sil_df = fn_craw(gcode)[3]  # 3: 기업실적정보 재무제표 (220220 수정)
    foreign_ms = fn_craw(gcode)[2].loc[1, '외국인'] # 2 : 외국인, 기관 거래 정보
    giguan_ms = fn_craw(gcode)[2].loc[1, '기관'] # 2 : 외국인, 기관 거래 정보
    
    if (sil_df.iloc[0:8, 3].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass
    elif (sil_df.iloc[0:8, 9].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass


    else:
        # 0. 재무정보는 최신 분기 실공시 기준
        # 0. 단, 배당은 1년에 한 번 이루어지기 때문에 최신 년도 공시 기준임
        sil_df_y = sil_df['최근 연간 실적'].iloc[:, 2]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
        sil_df_q = sil_df['최근 분기 실적'].iloc[:, 4]

        sil_df_y = sil_df_y.fillna(0)
        sil_df_q = sil_df_q.fillna(0)

        if sil_df_y.dtype == 'O':
            sil_df_y = sil_df_y.apply(lambda x: re.sub('^-$', '0', '{}'.format(x)))
            sil_df_y = sil_df_y.astype('float')

        if sil_df_q.dtype == 'O':
            sil_df_q = sil_df_q.apply(lambda x: re.sub('^-$', '0', '{}'.format(x)))
            sil_df_q = sil_df_q.astype('float')
            
        # 1. 배당성향(bd_tend)
        bd_tend = sil_df_y[15]  # 실제 배당 성향

        # 2. 유동성 분석 - 당좌비율(당좌자산/유동부채)
        #                       당좌자산 = (유동자산 - 재고자산)
        dj_rate = sil_df_q[7]  # 당좌비율

        # 3. 재무건전성 분석 - 부채비율(총부채/자기자본)의 역수
        bch_rate = sil_df_q[6] / 100  # 부채비율
        bch_rate = round((1 / bch_rate) * 100, 2)

        # 4. 수익성 분석 - 매출수익성(당기순이익/매출액) # TODO 매출액 0인 애들은?

        dg_bene = sil_df_q[2]
        mch = sil_df_q[0]

        suyk = round((dg_bene / mch) * 100, 2)

        # 5. 성장성 분석 - 순이익성장률(지속성장 가능률)
        # (1-배당성향)*자기자본순이익률(ROE)
        #    유보율

        roe = sil_df_y[5] / 100
        ubo = (100 - bd_tend) / 100
        grth = round(roe * ubo * 100, 2)

        data_arr = np.array([bd_tend, dj_rate, bch_rate, suyk, grth])
        
        
        # weather part----------------
        # PER?
        weather_per = sil_df_y[10]

        # PBR
        weather_pbr = sil_df_y[12]

        # ROE
        weather_roe = sil_df_y[5]

        # EPS
        weather_eps = sil_df_y[9]

        # BPS
        weather_bps = sil_df_y[11]
        
        # array
        weather_arr = np.array([weather_per, weather_pbr, weather_roe, weather_eps, weather_bps])
        
        return data_arr, weather_arr, nm, foreign_ms, giguan_ms


# -------- 관련 기업 지표 선정(상대적 비율 기준)
# 220220 수정
# 1) 매개변수 stock_code로 축약
# 2) dict 대신 array로 반환, 기업 이름(nm도 반환)
def relate_radar_weather_data(stock_code):
    label_list = ['배당성향', '유동성', '건전성', '수익성', '성장성']
    arr_list = []

    # 주식 코드,이름으로 변환

    gcode = stock_code

    relate_corp = relate_code_crawl(co=gcode)
    
    # 다섯 개 회사가 안에 있다
    arr_list = [idv_radar_weather_data(stock_code=stcd) for stcd in relate_corp]
    
    # arr_list에서 데이터 분리
    radar_list = [x[0] for x in arr_list if x is not None]
    weather_list = [x[1] for x in arr_list if x is not None]
    nm_list = [x[2] for x in arr_list if x is not None]
    
    
    # radar_chart_data
    radar_list = np.array(radar_list)

    radar_list[:, 0] = (radar_list[:, 0] / radar_list[:, 0].mean()) * 100
    radar_list[:, 1] = (radar_list[:, 1] / radar_list[:, 1].mean()) * 100
    radar_list[:, 2] = (radar_list[:, 2] / radar_list[:, 2].mean()) * 100
    radar_list[:, 3] = (radar_list[:, 3] / radar_list[:, 3].mean()) * 100
    radar_list[:, 4] = (radar_list[:, 4] / radar_list[:, 4].mean()) * 100
    
    # weather_chart_data
    weather_list = np.array(weather_list)

    weather_list[:, 0] = (weather_list[:, 0] / weather_list[:, 0].mean()) * 100
    weather_list[:, 1] = (weather_list[:, 1] / weather_list[:, 1].mean()) * 100
    weather_list[:, 2] = (weather_list[:, 2] / weather_list[:, 2].mean()) * 100
    weather_list[:, 3] = (weather_list[:, 3] / weather_list[:, 3].mean()) * 100
    weather_list[:, 4] = (weather_list[:, 4] / weather_list[:, 4].mean()) * 100
    
    
    # radar_chart_dict
    radar_dict_list = []

    for i, nm in enumerate(nm_list):
        dic = {}
        dic[nm] = arr_list[i, :].tolist()
        radar_dict_list.append(dic)
        
    # weather_chart_list
    
    

    return label_list, dict_list, weather_list, foreign_ms, giguan_ms

In [69]:
stock_code='005380'

# -------- 관련 기업 지표 선정(상대적 비율 기준)
# 220220 수정
# 1) 매개변수 stock_code로 축약
# 2) dict 대신 array로 반환, 기업 이름(nm도 반환)

label_list = ['배당성향', '유동성', '건전성', '수익성', '성장성']
arr_list = []

# 주식 코드,이름으로 변환

gcode = stock_code

relate_corp = relate_code_crawl(co=gcode)

# 다섯 개 회사가 안에 있다
arr_list = [idv_radar_weather_data(stock_code=stcd) for stcd in relate_corp]

# arr_list에서 데이터 분리
radar_list = [x[0] for x in arr_list if x is not None]
weather_list = [x[1] for x in arr_list if x is not None]
nm_list = [x[2] for x in arr_list if x is not None]

# 외인 매수, 기관 매수
foreign_ms = arr_list[0][3]
giguan_ms = arr_list[0][4]

# radar_chart_data
radar_list = np.array(radar_list)

radar_list[:, 0] = (radar_list[:, 0] / radar_list[:, 0].mean()) * 100
radar_list[:, 1] = (radar_list[:, 1] / radar_list[:, 1].mean()) * 100
radar_list[:, 2] = (radar_list[:, 2] / radar_list[:, 2].mean()) * 100
radar_list[:, 3] = (radar_list[:, 3] / radar_list[:, 3].mean()) * 100
radar_list[:, 4] = (radar_list[:, 4] / radar_list[:, 4].mean()) * 100

# radar_chart_dict
radar_dict_list = []

for i, nm in enumerate(nm_list):
    dic = {}
    dic[nm] = radar_list[i, :].tolist()
    radar_dict_list.append(dic)


# weather_chart_data
weather_list = np.array(weather_list)

weather_list[:, 0] = (weather_list[:, 0] / weather_list[:, 0].mean()) # 각 기업의 평균 대비 PER
weather_list[:, 1] = (weather_list[:, 1] / weather_list[:, 1].mean()) # 각 기업의 평균 대비 PBR
weather_list[:, 2] = (weather_list[:, 2] / weather_list[:, 2].mean()) # 각 기업의 평균 대비 ROE
weather_list[:, 3] = (weather_list[:, 3] / weather_list[:, 3].mean()) # 각 기업의 평균 대비 EPS
weather_list[:, 4] = (weather_list[:, 4] / weather_list[:, 4].mean()) # 각 기업의 평균 대비 PER


print(label_list, radar_dict_list, weather_list[0], foreign_ms, giguan_ms)

************************************************************
['배당성향', '유동성', '건전성', '수익성', '성장성'] [{'현대차': [335.87088915956156, 85.19647696476964, 66.36754084986923, -80.0186451211933, -1.2260515750047154]}, {'기아': [164.1291108404385, 165.10840108401086, 131.96727211651512, -99.28527035425729, -4.971571771172966]}, {'에디슨EV': [0.0, 104.57317073170734, 97.69177244043478, 190.1802361715351, 65.06157204063484]}, {'쌍용차': [0.0, 31.453252032520325, -3.1552175060584977, 146.36420136730888, 431.4354234593517]}, {'엘브이엠씨홀딩스': [0.0, 113.66869918699187, 207.1286320992394, 342.7594779366066, 9.700627846191155]}] [ 4.75541401 21.17647059 -0.02767077  5.58280877  3.85877782] 32972.0

In [6]:
sil_df

       주요재무정보   최근 연간 실적                                       최근 분기 실적  \
       주요재무정보    2018.12     2019.12     2020.12  2021.12(E)    2020.09
       주요재무정보     IFRS연결      IFRS연결      IFRS연결      IFRS연결     IFRS연결
0         매출액  968126.00  1057464.00  1039976.00  1171171.00  275758.00
1        영업이익   24222.00    36055.00    23947.00    69499.00   -3138.00
2       당기순이익   16450.00    31856.00    19246.00    65926.00   -1888.00
3       영업이익률       2.50        3.41        2.30        5.93      -1.14
4        순이익률       1.70        3.01        1.85        5.63      -0.69
5   ROE(지배주주)       2.20        4.32        2.04        8.14       1.67
6        부채비율     144.47      154.71      174.22         NaN     173.03
7        당좌비율      52.21       46.57       44.87         NaN      46.45
8         유보율    4747.59     4865.48     4909.48         NaN    4834.25
9      EPS(원)    5352.00    10761.00     5144.00    21201.00   -1213.00
10     PER(배)      22.14       11.20       37.33        9.43      42.65
11     BPS(원)  256422.00   267549.00   266968.00   288909.00  265325.00
12     PBR(배)       0.46        0.45        0.72        0.69       0.67
13   주당배당금(원)    4000.00     4000.00     3000.00     4201.00        NaN
14   시가배당률(%)       3.38        3.32        1.56         NaN        NaN
15    배당성향(%)      70.70       35.35       55.15         NaN        NaN


      2020.12    2021.03    2021.06    2021.09 2021.12(E)
       IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
0   292434.00  273909.00  303261.00  288672.00  306325.00
1    12544.00   16566.00   18860.00   16067.00   17991.00
2    11834.00   15222.00   19826.00   14869.00   15315.00
3        4.29       6.05       6.22       5.57       5.87
4        4.05       5.56       6.54       5.15       5.00
5        2.04       3.27       5.37       7.60        NaN
6      174.22     178.82     178.15     180.78        NaN
7       44.87      45.58      49.92      50.30        NaN
8     4909.48    4938.89    5062.38    5133.86        NaN
9     3863.00    4793.00    6362.00    4717.00    5298.00
10      37.33      26.38      17.35      10.13      37.75
11  266968.00  271275.00  279427.00  286707.00  288909.00
12       0.72       0.80       0.86       0.70       0.69
13        NaN        NaN        NaN        NaN        NaN
14        NaN        NaN        NaN        NaN        NaN
15        NaN        NaN        NaN        NaN        NaN

In [37]:
# foreign_ms = 
fn_craw(gcode)[2].loc[1, '외국인'] # 2 : 외국인, 기관 거래 정보

32972.0

In [70]:
def idv_radar_weather_data(stock_code):
    """
    # <지표 설명>
    # 1. 배당 분석                      -> 배당성향(배당 커버리지의 역수.)
    # 2. 유동성 분석(단기채무지급능력)    -> 당좌비율(당좌자산 / 유동부채)
    # 3. 재무건전성 분석(레버리지 비율)   -> 부채비율(총부채 / 자기자본)의 역수
    # 4. 수익성분석                      -> 매출수익성(당기순이익/매출액))
    # 5. 성장성분석                      -> 순이익성장률
    """

    gcode = stock_code
    nm = stc_code_to_nm(stock_code)

    sil_df = fn_craw(gcode)[3]  # 3: 기업실적정보 재무제표 (220220 수정)
    foreign_ms = fn_craw(gcode)[2].loc[1, '외국인'] # 2 : 외국인, 기관 거래 정보
    giguan_ms = fn_craw(gcode)[2].loc[1, '기관'] # 2 : 외국인, 기관 거래 정보
    
    if (sil_df.iloc[0:8, 3].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass
    elif (sil_df.iloc[0:8, 9].isna().sum()) > 0:  # 표 안 가르고 계산하는 건 신규 상장 기업은 정보가 아예 없기 때문
        pass


    else:
        # 0. 재무정보는 최신 분기 실공시 기준
        # 0. 단, 배당은 1년에 한 번 이루어지기 때문에 최신 년도 공시 기준임
        sil_df_y = sil_df['최근 연간 실적'].iloc[:, 2]  # 느리지만 .iloc으로 하는 이유는 공시 날짜가 다른 기업이 있기 때문
        sil_df_q = sil_df['최근 분기 실적'].iloc[:, 4]

        sil_df_y = sil_df_y.fillna(0)
        sil_df_q = sil_df_q.fillna(0)

        if sil_df_y.dtype == 'O':
            sil_df_y = sil_df_y.apply(lambda x: re.sub('^-$', '0', '{}'.format(x)))
            sil_df_y = sil_df_y.astype('float')

        if sil_df_q.dtype == 'O':
            sil_df_q = sil_df_q.apply(lambda x: re.sub('^-$', '0', '{}'.format(x)))
            sil_df_q = sil_df_q.astype('float')
            
        # 1. 배당성향(bd_tend)
        bd_tend = sil_df_y[15]  # 실제 배당 성향

        # 2. 유동성 분석 - 당좌비율(당좌자산/유동부채)
        #                       당좌자산 = (유동자산 - 재고자산)
        dj_rate = sil_df_q[7]  # 당좌비율

        # 3. 재무건전성 분석 - 부채비율(총부채/자기자본)의 역수
        bch_rate = sil_df_q[6] / 100  # 부채비율
        bch_rate = round((1 / bch_rate) * 100, 2)

        # 4. 수익성 분석 - 매출수익성(당기순이익/매출액) # TODO 매출액 0인 애들은?

        dg_bene = sil_df_q[2]
        mch = sil_df_q[0]

        suyk = round((dg_bene / mch) * 100, 2)

        # 5. 성장성 분석 - 순이익성장률(지속성장 가능률)
        # (1-배당성향)*자기자본순이익률(ROE)
        #    유보율

        roe = sil_df_y[5] / 100
        ubo = (100 - bd_tend) / 100
        grth = round(roe * ubo * 100, 2)

        data_arr = np.array([bd_tend, dj_rate, bch_rate, suyk, grth])
        
        
        # weather part----------------
        # PER?
        weather_per = sil_df_y[10]

        # PBR
        weather_pbr = sil_df_y[12]

        # ROE
        weather_roe = sil_df_y[5]

        # EPS
        weather_eps = sil_df_y[9]

        # BPS
        weather_bps = sil_df_y[11]
        
        # array
        weather_arr = np.array([weather_per, weather_pbr, weather_roe, weather_eps, weather_bps])
        
        return data_arr, weather_arr, nm, foreign_ms, giguan_ms


# -------- 관련 기업 지표 선정(상대적 비율 기준)
# 220220 수정
# 1) 매개변수 stock_code로 축약
# 2) dict 대신 array로 반환, 기업 이름(nm도 반환)
def relate_radar_weather_data(stock_code):

    label_list = ['배당성향', '유동성', '건전성', '수익성', '성장성']
    arr_list = []

    # 주식 코드,이름으로 변환

    gcode = stock_code

    relate_corp = relate_code_crawl(co=gcode)

    # 다섯 개 회사가 안에 있다
    arr_list = [idv_radar_weather_data(stock_code=stcd) for stcd in relate_corp]

    # arr_list에서 데이터 분리
    radar_list = [x[0] for x in arr_list if x is not None]
    weather_list = [x[1] for x in arr_list if x is not None]
    nm_list = [x[2] for x in arr_list if x is not None]

    # 외인 매수, 기관 매수
    foreign_ms = arr_list[0][3]
    giguan_ms = arr_list[0][4]

    # radar_chart_data
    radar_list = np.array(radar_list)

    radar_list[:, 0] = (radar_list[:, 0] / radar_list[:, 0].mean()) * 100
    radar_list[:, 1] = (radar_list[:, 1] / radar_list[:, 1].mean()) * 100
    radar_list[:, 2] = (radar_list[:, 2] / radar_list[:, 2].mean()) * 100
    radar_list[:, 3] = (radar_list[:, 3] / radar_list[:, 3].mean()) * 100
    radar_list[:, 4] = (radar_list[:, 4] / radar_list[:, 4].mean()) * 100

    # radar_chart_dict
    radar_dict_list = []

    for i, nm in enumerate(nm_list):
        dic = {}
        dic[nm] = radar_list[i, :].tolist()
        radar_dict_list.append(dic)


    # weather_chart_data
    weather_list = np.array(weather_list)

    weather_list[:, 0] = (weather_list[:, 0] / weather_list[:, 0].mean()) # 각 기업의 평균 대비 PER
    weather_list[:, 1] = (weather_list[:, 1] / weather_list[:, 1].mean()) # 각 기업의 평균 대비 PBR
    weather_list[:, 2] = (weather_list[:, 2] / weather_list[:, 2].mean()) # 각 기업의 평균 대비 ROE
    weather_list[:, 3] = (weather_list[:, 3] / weather_list[:, 3].mean()) # 각 기업의 평균 대비 EPS
    weather_list[:, 4] = (weather_list[:, 4] / weather_list[:, 4].mean()) # 각 기업의 평균 대비 BPS


    return label_list, radar_dict_list, weather_list[0], foreign_ms, giguan_ms

In [ ]:
재무제표
컨세서스
EBITDA

In [5]:
table_list[10]

      IFRS(연결)     Annual                                Net Quarter  \
      IFRS(연결)    2018/12   2019/12   2020/12 2021/12(E)     2021/03
0          매출액       3014   5872.00   7963.00   11898.00     1783.00
1         영업이익        799    987.00   1455.00    1900.00      228.00
2   영업이익(발표기준)        799    987.00   1455.00        NaN      228.00
3        당기순이익       -705    724.00    871.00    1354.00      172.00
4      지배주주순이익       -705    738.00    857.00    1333.00      171.00
5     비지배주주순이익          0    -14.00     13.00        NaN        1.00
6         자산총계       2055   3630.00  19244.00   31527.00    19014.00
7         부채총계       1183   1895.00   7255.00   12797.00     6855.00
8         자본총계        873   1735.00  11989.00   18730.00    12158.00
9       지배주주지분        873   1742.00  11953.00   18306.00    12116.00
10     비지배주주지분          0     -7.00     36.00     424.00       43.00
11         자본금          8      8.00    178.00     195.00      178.00
12        부채비율     135.54    109.19     60.51      68.32       56.38
13         유보율   11189.64  20763.28   6610.89        NaN     6702.01
14       영업이익률      26.52     16.82     18.27      15.97       12.77
15    지배주주순이익률     -23.38     12.57     10.77      11.20        9.59
16         ROA  N/A(IFRS)     25.48      7.61       5.34        3.61
17         ROE  N/A(IFRS)     56.47     12.52       8.81        5.69
18      EPS(원)      -2532   2569.00   2807.00    3222.00      473.00
19      BPS(원)       3047   6033.00  33087.00   44267.00    33536.00
20      DPS(원)        NaN       NaN       NaN        NaN         NaN
21         PER        NaN       NaN     56.43      85.50         NaN
22         PBR        NaN       NaN      4.79       6.22        7.17
23       발행주식수      25083  27094.00  36127.00        NaN    36127.00
24       배당수익률        NaN       NaN       NaN        NaN         NaN


     2021/06   2021/09 2021/12(E)
0    2786.00   3410.00    3844.00
1     280.00    656.00     721.00
2     280.00    656.00        NaN
3     203.00    497.00     524.00
4     205.00    479.00     468.00
5      -2.00     18.00        NaN
6   34299.00  35001.00        NaN
7   14602.00  14279.00        NaN
8   19697.00  20723.00        NaN
9   19106.00  20005.00        NaN
10    591.00    718.00        NaN
11    195.00    195.00        NaN
12     74.13     68.91        NaN
13   9697.16  10145.39        NaN
14     10.05     19.25      18.76
15      7.36     14.05      12.17
16      3.04      5.74       5.99
17      5.25      9.80       9.35
18    559.00   1227.00    1131.00
19  48986.00  51227.00        NaN
20       NaN       NaN        NaN
21       NaN       NaN        NaN
22      5.97      5.83        NaN
23  39003.00  39051.00        NaN
24       NaN       NaN        NaN

In [3]:
url = "http://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=A352820&cID=&MenuYn=Y&ReportGB=&NewMenuID=11&stkGb=701"
table_list = pd.read_html(url, encoding='UTF-8')

ifrs = table_list[10]
ifrs = ifrs.fillna('9999999999')

for i in range(1, 5):
    ifrs.iloc[:, i] = ifrs.iloc[:, i]#.apply(lambda x: format(float(x), ','))

ifrs = pd.concat([ifrs.iloc[:,0], ifrs['Annual']], axis=1)

In [4]:
ifrs

   (IFRS(연결), IFRS(연결))     2018/12     2019/12     2020/12  2021/12(E)
0                   매출액        3014      5872.0      7963.0     11898.0
1                  영업이익         799       987.0      1455.0      1900.0
2            영업이익(발표기준)         799       987.0      1455.0  9999999999
3                 당기순이익        -705       724.0       871.0      1354.0
4               지배주주순이익        -705       738.0       857.0      1333.0
5              비지배주주순이익           0       -14.0        13.0  9999999999
6                  자산총계        2055      3630.0     19244.0     31527.0
7                  부채총계        1183      1895.0      7255.0     12797.0
8                  자본총계         873      1735.0     11989.0     18730.0
9                지배주주지분         873      1742.0     11953.0     18306.0
10              비지배주주지분           0        -7.0        36.0       424.0
11                  자본금           8         8.0       178.0       195.0
12                 부채비율      135.54      109.19       60.51       68.32
13                  유보율    11189.64    20763.28     6610.89  9999999999
14                영업이익률       26.52       16.82       18.27       15.97
15             지배주주순이익률      -23.38       12.57       10.77        11.2
16                  ROA   N/A(IFRS)       25.48        7.61        5.34
17                  ROE   N/A(IFRS)       56.47       12.52        8.81
18               EPS(원)       -2532      2569.0      2807.0      3222.0
19               BPS(원)        3047      6033.0     33087.0     44267.0
20               DPS(원)  9999999999  9999999999  9999999999  9999999999
21                  PER  9999999999  9999999999       56.43        85.5
22                  PBR  9999999999  9999999999        4.79        6.22
23                발행주식수       25083     27094.0     36127.0  9999999999
24                배당수익률  9999999999  9999999999  9999999999  9999999999

In [6]:
url = "http://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=AA352820&cID=&MenuYn=Y&ReportGB=&NewMenuID=11&stkGb=701"
table_list = pd.read_html(url, encoding='UTF-8')

ifrs = table_list[10]
ifrs = ifrs.fillna('9999999999')

for i in range(1, 5):
    ifrs.iloc[:, i] = ifrs.iloc[:, i].apply(lambda x: format(float(x), ','))

ifrs = pd.concat([ifrs['IFRS(연결)'], ifrs['Annual']], axis=1)
ifrs = ifrs.astype(str)
for i in range(1, 5):
    ifrs.iloc[:12, i] = ifrs.iloc[:12, i].apply(lambda x: x[:-2])
    ifrs.iloc[18:21, i] = ifrs.iloc[18:21, i].apply(lambda x: x[:-2])
    ifrs.iloc[23:24, i] = ifrs.iloc[23:24, i].apply(lambda x: x[:-2])
ifrs = ifrs.replace(['9,999,999,999', '9,999,999,999.0'], ['-', '-'])
ifrs.rename(columns={'IFRS(연결)': ''}, inplace=True)
ifrs = ifrs.to_html(justify="right",index=False,classes="table")
ifrs=ifrs.replace('border="1"', 'border="0"')
pd.options.display.float_format = '{:,.0f}'.format
ifrs=ifrs.replace('<td>', '<td align="right">')
ifrs = ifrs.replace('<th>', '<th style="text-align: right;">')

ImportError: html5lib not found, please install it